---
import Layout from "@layouts/Layout.astro";
import ContainerFW from "@components/container-fullwidth.astro";
import ContainerXL from "@components/container-xl.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionmid.astro";
import SectionEmail from "@components/sectionhead-email.astro";
import Cta from "@components/cta.astro";
import SectionHeadImg from "@components/sectionhead-img.astro";
import SectionHeadSecImg from "@components/sectionhead-img-rev.astro";
import SectionTextarea from "@components/sectionmid-textarea.astro";
import FeaturesGrid from "@components/grid-4x4-features.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Integrations from "@components/logos-integrations.astro";
import GallerySlider from "@components/slider-lrg-services-webdesign.astro";
import { Icon } from "astro-icon";


const pricing = [
{
    name: "Velocity7 SPA",
    popular: false,
    features: [
      "1x 15-min video-call brand sessions",
      "1x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "1x web page w/ 0.2 sec load time avg.",
      "50+ components",
      "30+ integrations",
      "1x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    
    price: "$1445",
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/4gwaGdg1JeJL0MM6oF",
    },
  },
  {
    name: "Velocity7 - Small",
    price: "$2445",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "3x web pages w/ 0.2 sec load time avg.",
      "50+ components",
      "30+ integrations",
      "2x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Stripe payment processing",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Velocity7 - Medium",
    price: 
      "$3445",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "3x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "6x web pages w/ 0.2 sec load time avg.",
      "50+ components",
      "30+ integrations",
      "3x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Stripe payment processing",
      "Data CMS integration",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "Velocity7 - E-Commerce",
    price: "$6445",
    popular: false,
    features: [
      "8x 15-min video-call brand sessions",
      "8x design revisions",
      "Domain & DNS setup",
      "Initial website branding and content setup",
      "32x web page and products.",
      "50+ components",
      "30+ integrations",
      "2x lead gen funnels",
      "A+ SEO performance",
      "Integrated conversion tracking",
      "Cookie-less social user tracking",
      "Email handling + forwarding",
      "Stripe payment processing",
      "Data CMS integration",
      "Custom website storefront",
      "Infitely extendable with any NPM package",
      "Lifetime license of your site",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/3cs7u102L0SV5328wA",
    },
  },
];
---

<Layout title="Our conversion-focused framework, Velocity7">

  <Container>
    <Sectionhead>
      <Fragment slot="title">Introducing Velocity7.</Fragment>
      <Fragment slot="desc">
        Helping brands scale from launch faster. Complete with everything needed to generate leads and sales online with ease. 
        Crush SEO with A+ web vitals. Works with any javascript framework and infinitely extendable with any NPM package.
      </Fragment>
    </Sectionhead>
  </Container>

  <ContainerFW>
    <FeaturesGrid />
  </ContainerFW>

  

  <ContainerXL>
    <SectionTextarea>
      <Fragment slot="title">Low-code + limitless.</Fragment>
      <Fragment slot="desc">
        Velocity 7 is a low-code framework that allows us to build websites faster than ever before. 
        While maintaining high-performance and high-conversion rate through faster design iterations. 
        Addressing the problems of website builders, while still feeling natural to use if you're experienced
        with them. Pay once, own forever.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />

  <ContainerFW>
    <Sectionhead>
      <Fragment slot="title">Ready for launch?</Fragment>
      <Fragment slot="desc" class="max-w-4xl">
        Move to Velocity7 and start crushing competition with ease in even the most competitive industries. Leave the world of churn web design. Turn around in a blazing 21 days, perfect for your next brand launch.
      </Fragment>
    </Sectionhead>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </ContainerFW>

  <ContainerXL>
    <SectionHeadImg>
      <Fragment slot="title">
        Shopify website design
      </Fragment>
      <Fragment slot="desc">
        We've worked in web design and development for over 10 years, if you're 
        looking for someone you can honestly trust with your Shopify Plus store, 
        we're worth giving a call. Velocity even comes in RubyonRails for use as 
        a Shopify theme. (Shopify theme available to Moonshot customers only)
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadImg>
  </ContainerXL>

  <ContainerXL>
    <SectionHeadSecImg>
      <Fragment slot="title">
        Wordpress website design
      </Fragment>
      <Fragment slot="desc">
        We're absolutely nuts about perfect web performance, after all, it's what the customer demands. 
        If your business is locked into a Web2 stack like Wordpress we have plenty of experience optimising 
        these sites with great results. From code structure improvement to waterfall optimisation, 
        we comb through your site constantly as new content arrives, always keeping your site fast and ranking well.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>
  </ContainerXL>

  <Container>
    <Cta />
  </Container>

  <ContainerFW>
    <GallerySlider />
  </ContainerFW>
  
</Layout>
