@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'quarto';
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/Quarto-Black.ttf') format('truetype');
    src: url('/fonts/Quarto-Black.otf') format('otf');
    src: url('/fonts/Quarto-Black.woff2') format('woff2');
  }
  @font-face {
    font-family: 'inconsolata';
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/Inconsolata-UltraExpanded-Bold.ttf') format('truetype');
    src: url('/fonts/Inconsolata-UltraExpanded-Bold.otf') format('otf');
    src: url('/fonts/Inconsolata-UltraExpanded-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'wotfard';
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/Wotfard-Light.otf') format('otf');
    src: url('/fonts/Wotfard-Light.ttf') format('truetype');
    src: url('/fonts/Wotfard-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: 'wotfard-bold';
    font-display: block;  
    src: url('/fonts/Wotfard-Regular.woff2') format('woff2');
    src: url('/fonts/Wotfard-Regular.ttf') format('truetype');
    src: url('/fonts/Wotfard-Regular.otf') format('otf');

  }
  
}


h1, h2, h3, h4 { font-family: 'quarto'; }
h5, h6 { font-family: 'inconsolata'; text-transform: uppercase; }
p, span, html, button, a, li { font-family: 'wotfard'; }
b { font-family: 'wotfard-bold'; }

:root {
  --primary: #26003A;
  --primary-light: #a600ff;
  --secondary: #420065;
  --secondary-light: #F9F0FF;
  --contrast: #D6581D;
}

/* Glass-card effect v7 */
#glass-card {
  border-radius: 30px;
  padding: 45px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 400ms;
}
#glass-card:hover {
  box-shadow: 0 30px 45px 2px #00000035;
}
    
/* Velocity brand slider dots are lines */
.flickity-page-dots .dot {
  height: 2px !important;
  width: 120px !important;
  margin: 1px !important;
  border-radius: 2px !important;
}
  @media only screen and (max-width: 1680px) {
    .flickity-page-dots .dot {
    width: 90px !important;
  }
}
  @media only screen and (max-width: 1199px) {
    .flickity-page-dots .dot {
      width: 65px !important;
  }
}
@media only screen and (max-width: 768px) {
    .flickity-page-dots .dot {
    width: 45px !important;
  }
}
@media only screen and (max-width: 568px) {
    .flickity-page-dots .dot {
    width: 30px !important;
  }
}
/* position dots up a bit */
.flickity-page-dots {
  bottom: -15px !important;
  padding-bottom: 30px !important;
}


#glass-card-dark {     
  border-radius: 30px;
  background: rgba(255,255,255,.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 0.5px solid rgb(0 0 0 / 30%);
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
  transition-duration: .2s; 
}