@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'wotfard';
    font-style: normal;
    font-weight: 500;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/wotfard-semibold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'wotfard-bold';
    font-style: bold;
    font-weight: 700;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/wotfard-bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'wotfard-light';
    font-style: thin;
    font-weight: 300;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/wotfard-bold.woff2') format('woff2');
  }
}

.glassCard {     
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.1);
    box-shadow: 0 0 80px #0003;
    overflow: hidden;
    border-radius: 25px;
    padding: 45px 15px;
    margin: 45px 15px; 
}

/* Small SVG CSS and Animate for Aidxn Moving Logo - Secondary element for icon use of WEB DESIGN PRODUCTS */
  svg{width:64px;height:64px;perspective:50px}circle{stroke:#420065;stroke-width:8px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
