---
import Layout from "@layouts/Layout.astro";
import ContainerFW from "@components/container-fullwidth.astro";
import ContainerXL from "@components/container-xl.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionmid.astro";
import SectionEmail from "@components/sectionhead-email.astro";
import Cta from "@components/cta.astro";
import SectionHeadImg from "@components/sectionhead-img.astro";
import SectionHeadSecImg from "@components/sectionhead-img-rev.astro";
import SectionTextarea from "@components/sectionmid-textarea.astro";
import ClientLogos from "@components/grid-4x4-clients.astro";
import Integrations from "@components/logos-integrations.astro";
import { Picture } from "@astrojs/image/components";
import PagecoverHero from '../assets/products-sqr/animated-ad-design.webp';
import Pagecover from '../assets/backgrounds/balance.webp';
import PagecoverSecondary from '../assets/backgrounds/funnel.webp';
import CoverTextarea from '../assets/backgrounds/cubed.webp';
import { Icon } from "astro-icon";
---

<Layout title="Monthly Management for Website + Marketing Optimisation, at a fixed price.">



  <ContainerFW>
    <SectionEmail>
      <Fragment slot="title">
        Monthly management for website + marketing optimisation,  at a fixed price.
      </Fragment>
      <Fragment slot="desc">       
        World-class web optimisation, SEO, automation + digital marketing, at a fraction of the cost.
        Focusing on improving KPI's with detailed focus. Improve conversion rate and CPA, every month. 
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverHero}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="contain"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionEmail>

    <ClientLogos />

  </ContainerFW>

  <ContainerXL>
    <SectionTextarea>
      <Fragment slot="title">Systems for success.</Fragment>
      <Fragment slot="desc">
        Our success system is built on developing high performance conversion focused designs 
        quickly, with full approval from all eyes needed. Revisions can be quickly added 
        using any device, allowing us to turn-around designs faster than you'd expect.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
      <Fragment slot="iconleft">
        <Icon class="w-16 h-16" name="simple-icons:slack" />
      </Fragment>
      <Fragment slot="titleleft">
        Slack
      </Fragment>
      <Fragment slot="textleft">
        To reduce the need for phone calls, we use Slack to communicate. 
        With an average reply speed of 4.15 minutes, during business hours in 2022.
      </Fragment>
      <Fragment slot="iconright">
        <Icon class="w-16 h-16" name="simple-icons:figma" />
      </Fragment>
      <Fragment slot="titleright">
        Figma
      </Fragment>
      <Fragment slot="textright">
        We use Figma to design interactive, code like mockups. As a developer meets designer, 
        we build realistic, high-performance designs. Add notes directly to our work from any device.
      </Fragment>
      <Fragment slot="iconleft2">
        <Icon class="w-16 h-16" name="simple-icons:asana" />
      </Fragment>
      <Fragment slot="titleleft2">
        Asana
      </Fragment>
      <Fragment slot="textleft2">
        To keep complete clarity between approved ideas and designs, we use Asana. A simple card-based 
        approval system that is an industry-standard for project management. Access from any device.
      </Fragment>
      <Fragment slot="iconright2">
        <Icon class="w-16 h-16" name="simple-icons:googledrive" />
      </Fragment>
      <Fragment slot="titleright2">
        Google Drive
      </Fragment>
      <Fragment slot="textright2">
        We use Google Drive business to make your approved final releases available instantly to your team. 
        Taken a step further by integrating automated uploads into CRM's such as Hubspot or Salesforce.
      </Fragment>      
    </SectionTextarea>
  </ContainerXL>

  <ContainerXL>
    <SectionHeadSecImg>
      <Fragment slot="title">
        Global marketing expertise.
      </Fragment>
      <Fragment slot="desc">
        Gain the experience from years of curating and managing global brand launches, to instant online success. 
        Reliable digital marketing management on the Gold Coast with Aidxn Design. Our marketing managers are like 
        mission control for your business, quickly identifying the areas of improvement over and over inside your brand. 
        An outside set of eyes is always a necessesity in effective marketing design. Plus we will come to your GC business 
        once a month in-person, for faster marketing strategy approval and content creation, when part of the <a href="/moonshot-plan">Moonshot Plan</a>.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={PagecoverSecondary}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#fff"
                  fit="contain"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
    </SectionHeadSecImg>

    <Integrations />

  </ContainerXL>

  <ContainerXL>
    <SectionTextarea>
      <Fragment slot="title">Optimising your entire funnel.</Fragment>
      <Fragment slot="desc">
        We're a lot more than just a digital marketing agency. With over 10 years experience in marketing 
        we don't just focus on Google and Meta ads. Moonshot plan covers everything from SEO to social strategy 
        to CPC manangement and physical marketing avenues such as buses + billboards.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={CoverTextarea}
                  sizes="(max-width: 2000px) 2000px, 1000px"
                  widths={[1000, 1500, 2000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded duration-200 hover:shadow-sm"
                />
      </Fragment>
      <Fragment slot="iconleft">
        <Icon class="w-16 h-16" name="simple-icons:googleads" />
      </Fragment>
      <Fragment slot="titleleft">
        Google Search Ad Management
      </Fragment>
      <Fragment slot="textleft">
        Google Search management on the Gold Coast by award-winning 
        marketing managers. With focus on lowering CPM and Cost per 
        Conversion, through improved segmentation and targeting.
      </Fragment>
      <Fragment slot="iconright">
        <Icon class="w-16 h-16" name="simple-icons:googleads" />
      </Fragment>
      <Fragment slot="titleright">
        Interactive HTML5 Ads
      </Fragment>
      <Fragment slot="textright">
        Creating animated ads that crush the Google Display bidding 
        space. Using high engagement interactive ads, we can dramatically 
        reduce click spend and increase reach.
      </Fragment>
      <Fragment slot="iconleft2">
        <Icon class="w-16 h-16" name="simple-icons:facebook" />
      </Fragment>
      <Fragment slot="titleleft2">
        Facebook Ad Manager Optimisation
      </Fragment>
      <Fragment slot="textleft2">
        We have been improving results within Facebook's purposefully terrible 
        FB ad manager. Understanding the algorithms behind their platforms deeply 
        from years of managing hundreds of campaigns.
      </Fragment>
      <Fragment slot="iconright2">
        <Icon class="w-16 h-16" name="simple-icons:cinema4d" />
      </Fragment>
      <Fragment slot="titleright2">
        Video Ads + 3D Asset Design
      </Fragment>
      <Fragment slot="textright2">
        Improve your brands reach with professionally produced video ads. We have racked up 
        over 10 billion video views across our designed ads. Using beautiful renders and 
        attention-grabbing motion graphics, then maximising with tested variation creatives.
      </Fragment>      
    </SectionTextarea>
  </ContainerXL>

  <Container>

    <Sectionhead>
      <Fragment slot="title">Management that's made to be outgrown.</Fragment>
      <Fragment slot="desc"
        >Moonshot is the marketing management that by design, we want to see you outgrow. We set 
        businesses up for success to the point they shouldn't need us. From the start of our journey, 
        we like to clearly outline how your marketing runway, how we'll approach scaling + time expectations 
        for your business to take off.
      </Fragment>
    </Sectionhead>

    <Integrations />

  </Container>


  <Container>
    <Cta />
  </Container>

  
</Layout>
