---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Startup",
    price: "$2445",
    popular: false,
    features: [
      "6 Page Velocity App",
      "Lifetime License",
      "Out-of-the-box Performance",
      "Includes Domain Name",
      "Includes 2 Revisions",
      "No Integrations",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Startup",
    price: {
      "$4445",
      discount: "30%",
      original: "$6445",
    },
    popular: true,
    features: [
      "12 Page Velocity App",
      "Lifetime License",
      "Out-of-the-box Performance",
      "Includes Domain Name",
      "Includes 3 Revisions",
      "Basic Integrations",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "Enterprise",
    price: "$8445",
    popular: false,
    features: [
      "24 Page Velocity App",
      "Lifetime License",
      "Out-of-the-box Performance",
      "Includes Domain Name",
      "Includes 4 Revisions",
      "Advanced Integrations",
      "24/7 Support",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/cN2eWtdTBdFH1QQ14d",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Velocity Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. All Prices are Tax Inclusive. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
