---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead-simple.astro";
import Pricing from "@components/pricing.astro";
import Clients from "@components/clients.astro";

const pricing = [
  {
    name: "Velocity - Sml",
    price: "$2445",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "3x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Simple social conversion tracking",
      "Social brand pack w/ 2x design releases",
      "30+ Velocity.V7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime ownership of your website with no subscription",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Velocity - Med",
    price: 
      "$3445",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "4x design revisions",
      "6x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Custom social conversion tracking",
      "Social brand pack w/ 4x design releases",
      "30+ Velocity.V7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "4x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime ownership of your website with no subscription",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "Velocity - Lrg",
    price: "$4445",
    popular: false,
    features: [
      "4x 15-min video-call brand sessions",
      "6x design revisions",
      "12x web pages w/ 0.2 sec load time avg.",
      "2x in-person strategy sessions",
      "E-Commerce store extension on sub-domain built with either Velocity7 or Shopify",
      "Custom social conversion tracking",
      "Social brand pack w/ 8x design releases",
      "30+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime ownership of your website with no subscription",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIaGd7vdgRT9jidRa",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Velocity Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. All Prices are Tax Inclusive. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
    
    <Clients />
  </Container>
</Layout>
