---
import Layout from "@layouts/Layout.astro";
import Containerfw from "@components/container-fullwidth.astro";
import Container from "@components/container.astro";
import Containerxl from "@components/container-xl.astro";
import Sectionhead from "@components/sectionhead.astro";
import Sectionfw from "@components/sectionhead-fullwidth.astro";
import Galleryinline from "@components/gallery-inline.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Clientscta from "@components/cta-clients.astro";
import Velocitycases from "@components/velocity-casestudies.astro";
import { Picture } from "@astrojs/image/components";
import Pagecover from '../assets/backgrounds/balance.webp';


const pricing = [
  {
    name: "Startup.V7",
    price: "$2445",
    popular: false,
    features: [
      "2x 15-min video-call brand sessions",
      "2x design revisions",
      "3x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Simple social conversion tracking",
      "Social brand pack w/ 2x design releases",
      "30+ Velocity.V7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime ownership of your website with no subscription",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/7sIcOleXFgRTbrq4gg",
    },
  },
  {
    name: "Expansion.V7",
    price: 
      "$4445",
    popular: true,
    features: [
      "3x 15-min video-call brand sessions",
      "4x design revisions",
      "6x web pages w/ 0.2 sec load time avg.",
      "High conversion landing pages with purposeful marketing",
      "Custom social conversion tracking",
      "Social brand pack w/ 4x design releases",
      "30+ Velocity.V7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "4x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime ownership of your website with no subscription",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/28o15Dg1JfNPcvufZ6",
    },
  },
  {
    name: "E-Commerce.V7",
    price: "$8445",
    popular: false,
    features: [
      "4x 15-min video-call brand sessions",
      "6x design revisions",
      "12x web pages w/ 0.2 sec load time avg.",
      "2x in-person strategy sessions",
      "E-Commerce store extension on sub-domain built with either Velocity7 or Shopify",
      "Custom social conversion tracking",
      "Social brand pack w/ 8x design releases",
      "30+ Velocity7 components",
      "Out-of-the-box SEO performance",
      "Cookie-less social user tracking",
      "Domain & DNS optimisation",
      "Email forwarding setup",
      "2x lead gen funnels",
      "Stripe payment processing",
      "Infitely extendable, ultra-light codebase",
      "Lifetime ownership of your website with no subscription",
    ],
    button: {
      text: "Purchase",
      link: "https://buy.stripe.com/cN2eWtdTBdFH1QQ14d",
    },
  },
];
---

<Layout title="Velocity7">
  <Containerfw>

    <Sectionfw>
      <Fragment slot="title">
        Conversion-Focused, High Performance Website Theme.
      </Fragment>
      <Fragment slot="desc">
        The perfect balance between website template and custom code. Created to rapidly build successful websites for Australian businesses.
      </Fragment>
      <Fragment slot="cover">
        <Picture
                  src={Pagecover}
                  sizes="(max-width: 2000px) 100vw, 1000px"
                  widths={[500, 750, 1000]}
                  aspectRatio="3:2"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
                />
      </Fragment>
    </Sectionfw>

  </Containerfw>

  <Containerxl>
    <Sectionhead>
      <Fragment slot="title">Ready to fit any business size.</Fragment>
      <Fragment slot="desc" class="max-w-4xl"
        >Depending on where you are in the lifecycle of your online business, we are here to help.
      </Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Containerxl>

  <Container>
      <Sectionhead>
        <Fragment slot="title">Light as a Feather.</Fragment>
        <Fragment slot="desc" class="max-w-4xl"
          >We've spent 5 years developing Velocity into the one of the fastest website foundations available. 
          V7 comes in at a feather-weight 68kb pageload for a full website ready for rapid branding, infinitly extendable.
        </Fragment>
      </Sectionhead>
  </Container>

  <Containerxl>
    <Galleryinline />
  </Containerxl>

  <Container>
      <Sectionhead>
        <Fragment slot="title">Out-of-the-Box Everything.</Fragment>
        <Fragment slot="desc" class="max-w-4xl">
          30+ components and 20+ integrations so your business can start from lvl 100, not ground 0. 
          Saving huge time delays and developer costs.
        </Fragment>
      </Sectionhead>

      <Logos />
      <Clientscta />

      <Sectionhead>
        <Fragment slot="title">Turn Around in 21 Days.</Fragment>
        <Fragment slot="desc">
          All components are styled to your brand and pages duplicated from your old site by our team during initial deployment. 
          Watch our development live on the fly to help us move faster or use your multiple design revisions.
        </Fragment>
      </Sectionhead>
      
      <Velocitycases />

  </Container>
  
</Layout>
