---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import BoogieCollective from '../assets/tbc-logo-greyed.svg';
import BallRealty from '../assets/ball-realty-greyed.svg';
import NWFunding from '../assets/nwfunding-logo-greyed.svg';
import RayWhite from '../assets/ray-white-greyed.svg';



const features = [
  {
    title: "32x improvement on SEO and $3.5 CPM Google Ads avg in the Real Estate Industry.",
    description:
      "We worked with Ball Realty at the height of Covid's impact on business, helping them keep advertising costs under control.",
    imgsrc: BallRealty,
    imgalt: "Brand Design and strategy direction for the age of social marketing.",
    link: "blog/ball-realty",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "6x improvement on AOV, in the Financial Loans Industry. We're dead serious.",
    description:
      "We took this client from 0 to Hero with a blend of detailed conversion tracking steps with tailored ads to the stages thinking.",
    imgsrc: NWFunding,
    imgalt: "Gold Coast's best web design and development agency with over 10 years experience.",
    link: "blog/nwfunding",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "$50k in sales in one month, with $0 advertising, in the Outdoor Events Industry.",
    description:
      "We don't need to see your quaterly budgets to understand what will work best for your brand. We did this even using Wordpress and why we care deeply about speed.",
    imgsrc: BoogieCollective,
    imgalt: "Ad strategy management on the Gold Coast without the giant fees.",
    link: "blog/theboogiecollective",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Animated Google Display Ad Designs that passed through Franchise Branding Guidelines.",
    description:
      "Creating ad designs that follow a larger brand formula can be a huge challenge. Using unique yet on brand, interactive animations to improve CTR's hugely.",
    imgsrc: RayWhite,
    imgalt: "3D Video Design and Videography Production for Marketing",
    link: "blog/raywhite",
    style: "outline",
    btntxt: "Read more",
  },
];
---

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Case Studies.
  </h2>
  <p class="text-lg max-w-3xl mt-4 text-slate-600">
    Read more on exactly how Aidxn Design and Velocity7 are improving businesses around the country.
  </p>
</div>

<div class="grid grid-cols-2 lg:grid-cols-4 mt-16 gap-4">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div id="card" class="bg-black rounded px-4 py-8">
          <div class="mt-1 w-48 h-48 shrink-0">
            <img src={item.imgsrc} class="h-24 md:h-32" />
          </div>
          <div>
            <h3 class="font-semibold text-md lg:text-xl text-white">{item.title}</h3>{" "}
            <p class="text-xs lg:text-sm text-slate-300 mt-2 mb-6 leading-relaxed">{item.description}</p>
            <Link
              href={item.link || "#"}
              block
              style={item.style ? "primary" : "outline"}>
              {item.btntxt || "Get Started"}
            </Link>
          </div>
        </div>
      </div>
    ))
  }
</div>