---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import BoogieCollective from '../assets/theboogiecollective-logo-greyed.svg';
import WebDesign from '../assets/web-dev.png';
import Marketing from '../assets/dig-mark.png';
import VideoProd from '../assets/3d-video.png';



const features = [
  {
    title: "32x improvement on SEO and $3.5 CPM Google Ads avg in the Real Estate Industry.",
    description:
      "We worked with Ball Realty at the height of Covid's impact on business, helping them keep advertising costs under control while it sent competitors broke was an interesting time in marketing for sure.",
    imgsrc: GraphicDesign,
    imgalt: "Brand Design and strategy direction for the age of social marketing.",
    link: "blog/ball-realty",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "6x improvement on AOV, in the Financial Loans Industry. We're dead serious.",
    description:
      "When NW Funding came to us, they had been getting absolutely mucked around by their previous marketers. A blend between highly detailed conversion tracking steps and tailored ads at each step saved this business at a time of need.",
    imgsrc: WebDesign,
    imgalt: "Gold Coast's best web design and development agency with over 10 years experience.",
    link: "blog/nwfunding",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "$50k in sales in one month, with $0 advertising, in the Outdoor Events Industry.",
    description:
      "We work within the bounds of your business, and we don't need to see your quaterly budgets to understand what will work best for your brand. We did this even in the days of Wordpress, and why we are hungry for speed.",
    imgsrc: BoogieCollective,
    imgalt: "Ad strategy management on the Gold Coast without the giant fees.",
    link: "blog/theboogiecollective",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "4.2 sec pageload to 1.9 sec pageload in 2 weeks of Wordpress Optimisation.",
    description:
      "We still work with Wordpress based websites, we understand your fustration and have spent many of our early years screaming at the same issues. We worked fast for Esteem Clinic, a 20 year old brand that can't escape WP.",
    imgsrc: VideoProd,
    imgalt: "3D Video Design and Videography Production for Marketing",
    link: "blog/video",
    style: "outline",
    btntxt: "Read more",
  },
];
---

<div class="my-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Case Studies.
  </h2>
  <p class="text-lg max-w-3xl mt-4 text-slate-600">
    Read more on exactly how Aidxn Design and Velocity7 are improving businesses around the country.
  </p>
</div>

<div class="grid md:grid-cols-4 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div id="card" class="bg-gray-100 rounded px-4 py-8">
          <div class="mt-1 w-48 h-48 shrink-0">
            <Picture
                  src={item.imgsrc}
                  sizes="(max-width: 800px) 100vw, 400px"
                  widths={[200, 400]}
                  aspectRatio="1:1"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
                />
          </div>
          <div>
            <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 mb-6 leading-relaxed">{item.description}</p>
            <Link
              href={item.link || "#"}
              block
              style={item.style ? "primary" : "outline"}>
              {item.btntxt || "Get Started"}
            </Link>
          </div>
        </div>
      </div>
    ))
  }
</div>