---
import Button from "./ui/button.astro";
import { Picture } from "@astrojs/image/components";
import FormCover from '../assets/backgrounds/balance.webp';
---
<!-- Event snippet for web3form-contact conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
   function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-11327549432/rkE7CNaw_94YEPjfspkq', 'event_callback': callback }); return false; }
</script>

<div class="my-16">
  <div id="Container" class="px-8 max-w-6xl mx-auto">
    <h2 class="text-black text-3xl md:text-4xl font-semibold mb-4">
      Let me roast your website or funnel.
    </h2>
        <!-- To make this contact form work, create your free access key from https://web3forms.com/
        Then you will get all form submissions in your email inbox. -->
    <form netlify
      action="https://api.web3forms.com/submit"
      method="POST"
      id="simp-form"
      class="needs-validation"
      novalidate>
      <input type="hidden" name="access_key" value="1e0ffadd-2f05-471b-bbc2-36fa32793837" />
      <!-- Create your free access key from https://web3forms.com/ -->
      <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
      <div class="flex flex-col md:flex-row gap-4">
        <div class="mb-5 w-full md:w-1/2">
          <input
            type="text"
            placeholder="Full Name"
            required
            class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
            name="name"
          />
          <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
            Please provide your full name.
          </div>
        </div>
        <div class="mb-5 w-full md:w-1/2">
          <label for="email_address" class="sr-only">Email Address</label><input
            id="email_address"
            type="email"
            placeholder="Email Address"
            name="email"
            required
            class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
          />
          <div class="empty-feedback text-red-400 text-sm mt-1">
            Please provide your email address.
          </div>
          <div class="invalid-feedback text-red-400 text-sm mt-1">
            Please provide a valid email address.
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label for="website" class="sr-only">Website</label><input
          id="website"
          type="text"
          placeholder="yourbrand.com/"
          name="website"
          required
          class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        />
        <div class="empty-feedback text-red-400 text-sm mt-1">
          Please provide your website.
        </div>
        <div class="invalid-feedback text-red-400 text-sm mt-1">
          Please provide a valid website address.
        </div>
      </div>
      <Button onclick="return gtag_report_conversion('http://aidxn.com/contact')" type="submit" size="lg" block>Roast at 300°</Button>
      <div id="result" class="mt-3 text-center"></div>
    </form>
  </div>
 
</div>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Sending...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.classList.add("text-green-500");
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.classList.add("text-red-500");
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>
