---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-16 lg:px-24 my-32 py-48 md:py-32 mx-auto max-w-6xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-3xl md:text-5xl tracking-tight">
    Redefining website and marketing management.
  </h2>
  <p class="text-slate-400 px-4 lg:px-16 mt-8 mb-16 text-lg">
    We're aiming to redesign the digital agency business model with a more reliable, full-suite solution.
    Month-to-month clear improvement for your website and marketing, fixed-price, pause anytime.
  </p>
  
  <div class="flex">
    <Link href="/moon-shot" style="inverted">Moonshot Plan</Link>
  </div>
</div>
