---
import Link from "./ui/link.astro";
---

<div
  class="bg-black px-4 md:px-16 lg:px-32 md:my-16 py-16 md:py-32 mx-4 md:mx-16 rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-3xl md:text-5xl tracking-tight">
    Monthly marketing management, redefined.
  </h2>
  <p class="text-slate-400 lg:px-16 my-8 text-md md:text-lg">
    We're aiming to redefine the digital agency business model with a more reliable, full-suite solution.
    Month-to-month clear improvement for your website and marketing, fixed-price, pause anytime.
  </p>
  
  <div class="flex">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Moonshot Plan</Link>
  </div>
</div>
