---
import Link from "./ui/link.astro";
---

<div
  style="background-color: #26003a;" class="px-4 md:px-16 lg:px-32 md:my-16 py-16 md:py-32 mx-4 md:mx-16 rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-3xl md:text-6xl lg:text-7xl xl:text-8xl tracking-tight">
    Management, redefined.
  </h2>
  <p class="text-slate-300 lg:px-16 my-8 text-md md:text-lg">
    Clear improvement every month. No lock in contracts. Fixed-price, pause or cancel anytime.
    Get the experts your brand deserves and start smashing through your sales records.
  </p>
  
  <div class="flex">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Moonshot Plan</Link>
  </div>
</div>
