---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 my-32 py-32 md:py-64 mx-auto max-w-4xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-2xl md:text-3xl tracking-tight">
    Free personalised tips for your brand.
  </h2>
  <p class="text-slate-400 mt-4 text-lg">
    Book in a 15 minute video chat and speak directly to Aiden Wood about your business' needs.
  </p>
  
  <div class="flex mt-5">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Book a Strategy Call</Link>
  </div>
</div>
