---
import Link from "./ui/link.astro";
---

<div
  class="bg-black px-8 md:px-16 lg:px-24 mb-16 md:my-32 mx-auto max-w-6xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-3xl md:text-5xl tracking-tight">
    Let's chat directly about your business.
  </h2>
  <p class="text-slate-400 px-4 lg:px-16 mt-8 mb-16 text-lg">
    A 15-min video call is all it takes for us to start developing initial ideas to help your business, either take it as free gravy or realise the value. Win win.
  </p>
  
  <div class="flex">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Book a Strategy Call</Link>
  </div>
</div>
