---
import Link from "./ui/link.astro";
---
<style>
    /* Glass-card effect dial in, minimal */
    #glass-card {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }
</style>
<div
  style="background-color: #26003a;" class="px-4 md:px-16 lg:px-32 my-16 md:my-32 py-16 md:py-32 mx-4 md:mx-16 rounded-lg flex flex-col items-center text-center">
  <h4 class="text-white font-bold text-3xl md:text-6xl lg:text-7xl xl:text-8xl tracking-tight">
    Let's chat.
  </h4>
  <p class="text-slate-300 px-4 lg:px-16 my-8 text-md md:text-lg">
    Let me show you directly how Velocity can work for your business. In under 15 minutes I'll be able to offer some initial sugguestions for your business and how I can solve them fast.
  </p>
  
  <div class="flex">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Book a Call</Link>
  </div>
</div>
