---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 my-32 py-48 md:py-32 mx-auto max-w-6xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white font-bold text-5xl md:text-7xl tracking-tight">
    Let's chat directly to show you how we can help?
  </h2>
  <p class="text-slate-400 mt-4 text-lg">
    Book a 15 minute online video call strategy session to chat personalised marketing ideas.
  </p>
  
  <div class="flex mt-5">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Book a Strategy Call</Link>
  </div>
</div>
