---
import Link from "./ui/link.astro";
---

<div
  style="background-color: #26003a;" class="px-4 md:px-16 lg:px-32 my-16 md:my-32 py-16 md:py-32 mx-4 md:mx-16 rounded-lg flex flex-col items-center text-center">
  <h4 class="text-white font-bold text-3xl md:text-6xl lg:text-7xl xl:text-8xl tracking-tight">
    Let's chat.
  </h4>
  <p class="text-slate-300 px-4 lg:px-16 my-8 text-md md:text-lg max-w-5xl">
    Book a 15 min chat to hear how I would get to work initially improving your website with vigor, plus offer some free easier optimiations you can do while you take some time to think about if I'm the best fit for you.
  </p>
  
  <div class="flex">
    <Link href="https://g2ok5807scs.typeform.com/to/tCmzlDza" style="inverted">Book a Call</Link>
  </div>
</div>
