

<style>
  footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #26003A;
}
</style>

<footer class="mt-20 py-10 lg:py-30" id="home_wave">
  <div class="grid grid-cols-2 md:grid-cols-4 px-4 lg:px-8">
    
    <div id="footerCard" class="mb-8">
      <div class="">
        <h5 class="text-sm font-semibold text-white mb-4">Links</h5>
        <ul class="list-none text-slate-300 hover:text-slate-100">
          <li class="mb-2"><a href="https://aidxn.com" class="transition duration-200">Home</a></li>
          <li class="mb-2"><a href="https://aidxn.com/about" class="transition duration-200">About</a></li>
          <li class="mb-2"><a href="https://facebook.com/aidxn-design/" class="transition duration-200">Facebook</a></li>
          <li class="mb-2"><a href="https://instagram.com/aidxn.design/" class="transition duration-200">Instagram</a></li>
        </ul>
        </ul>
      </div>
    </div>
    
    <div id="footerCard" class="mb-8">
      <div class="">
        <h5 class="text-sm font-semibold text-white mb-4">Products</h5>
        <ul class="list-none text-slate-300 hover:text-slate-100">
          <li class="mb-2"><a href="https://velocity.aidxn.com/" class="transition duration-200">Velocity7</a></li>
          <li class="mb-2"><a href="https://vanilla.aidxn.com/" class="transition duration-200">Velocity.vanilla</a></li>
          <li class="mb-2"><a href="https://aidxn.com/shopify" class="transition duration-200">Shopify Web Design</a></li>
          <li class="mb-2"><a href="https://aidxn.com/wordpress" class="transition duration-200">Wordpress Web Design</a></li>
        </ul>
      </div>
    </div>
    
    <div id="footerCard" class="mb-8">
      <div class="">
        <h5 class="text-sm font-semibold text-white mb-4">Services</h5>
        <ul class="list-none font-thin text-slate-300 hover:text-slate-100">
          <li class="mb-2"><a href="https://aidxn.com/brand-strategy" class="transition duration-200">Brand Design</a></li>
          <li class="mb-2"><a href="https://aidxn.com/web-design" class="transition duration-200">Web Design</a></li>
          <li class="mb-2"><a href="https://aidxn.com/marketing" class="transition duration-200">CPC + Social Marketing</a></li>
          <li class="mb-2"><a href="https://aidxn.com/automation" class="transition duration-200">Marketing Automation</a></li>
        </ul>
        </ul>
      </div>
    </div>
  
    <div id="footerCard" class="mb-8">
      <div class="">
        <h5 class="text-sm font-semibold text-white mb-4">Clients</h5>
        <ul class="list-none text-slate-300 hover:text-slate-100">
	        <li class="mb-2"><a href="https://billing.stripe.com/p/login/5kA4jQdGtb9m8N2fYY" class="transition duration-200">Manage account</a></li>
	        <li class="mb-2"><a href="https://aidxn.com/terms" class="transition duration-200">Terms of Service</a></li>
          <li class="mb-2"><a href="https://aidxn.com/conditions" class="transition duration-200">Privacy Policy</a></li>
          <li class="mb-2"><a href="https://aidxn.com/contact" class="transition duration-200">Contact</a></li>
        </ul>
        </ul>
      </div>
    </div>

  </div>

  <div id="finalFooter" class="px-4 lg:px-8 flex flex-col items-start">
	
	  <p class="text-xl font-normal text-white">
      Website powered by 
      <a href="https://aidxn.com/velocity7" target="_blank" rel="noopener" class="font-semibold hover:text-slate-700 transition duration-200">Velocity7</a>
    </p>
    <p class="text-xl font-normal text-white">
      Design by <a href="https://aidxn.com" target="_blank" rel="noopener" class="font-bold hover:text-slate-700 transition duration-200">Aidxn</a>.
    </p>

	  <p class="text-xs lg:text-sm text-gray-300 mt-4">
      © {new Date().getFullYear()} Aidxn Design. All rights reserved.
    </p>
	
  </div>

</footer>
