---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Conversion-Focused Design.",
    description:
      "Developed as 'guardrails' to help your business stay on track to create a beautiful, high converting website.",
    icon: "carbon:asset",
  },
  {
    title: "Edge Web Performance.",
    description:
      "Velocity7 is made to stay fast over the lifetime of your brand's development. Improving user experience, SEO and other vitals.",
    icon: "ph:hard-drives",
  },
  {
    title: "Ad Tracking Built-In.",
    description:
      "Built in conversion tracking to run highly successful ads instantly with Pixel-friendly code, automatic sitemaps and social tags.",
    icon: "ph:git-branch",
  },
  {
    title: "30+ Components.",
    description:
      "Reduce developer costs with 30+ commonly used components built-in with high performance, from image sliders / galleries to product cards and grids.",
    icon: "carbon:cube",
  },
  {
    title: "20+ Integrations.",
    description:
      "Handle payments with Stripe. Users with Google 0Auth. Large media with Velocity's File Compression. No need to pay for plugins.",
    icon: "ph:stack",
  },
  {
    title: "Extend/Automate.",
    description:
      "Integrate API's to meet any need of your business or reduce costs with AI Automation using Zapier and ChatGPT directly in your website.",
    icon: "ph:graph",
  },
];
---

<div class="mt-16 mb-8 pt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Out-of-the-Box Everything.
  </h2>
  <p class="text-lg max-w-4xl mt-4 text-slate-600">
    Stop fighting with your slow website or paying forever through subscriptions. Velocity7 comes complete with everything you need to rapidly develop high-conversion websites, while always maintaining A+ website performance and SEO.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-4 w-16 h-16 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
