---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Pay Once. Infinitely Extendable.",
    description:
      "Own your code forever with no subscriptions or hidden fees. Deployed to Github and pushed by Netlify,",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Edge Web Performance.",
    description:
      "Velocity7 uses some of the fastest technologies available to overcome slow internet. (Velocity7 Performance Comparisons, 2023)",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "20+ Integrations.",
    description:
      "Handle payments with Stripe. Cookieless tracking with Google 0Auth. Deliver large media with Astro Compression. Blog easily with MDX.",
    icon: "bx:bxs-data",
  },
  {
    title: "30+ Components.",
    description:
      "Velocity supports anything your business can think of. From TypeScript to NPM, developers will never be held back.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO & Conversion Tracking.",
    description:
      "Built in conversion tracking to run highly successful ads instantly with Pixel-friendly code, automatic sitemaps and social tags.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Built by the Best",
    description:
      "Velocity is performance focused, combining the best of what we have learnt in 10 years of web design / development.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Out-of-the-Box Everything.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Stop running your business on a Web2 stack. Fighting with legacy website frameworks or paying ridiculous amounts for subscriptions is <b>over</b>. Velocity comes jammed packed for the jamstack with over 30 components and over 20 integrations, out-of-the-box. Taking everything we have learned from 10 years of building websites and web apps; packing it into a high-performance, competitor-crushing website framework that out-performs some of the best.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
