---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Blazing-fast page-load",
    description:
      "Velocity renders your website is the fastest way possible, overcoming slow Australian internet.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Components",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.",
    icon: "bx:bxs-data",
  },
  {
    title: "Infinite Integration",
    description:
      "Velocity supports anything your business can think of. From TypeScript to NPM, developers will never be held back.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Built by the Best",
    description:
      "Velocity is maintained by smart cookies. Keeping our stack faster than most Silicon Valley products (Velocity V7 - Performance, 2023).",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Out-of-the-Box Everything.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Stop fighting your legacy web stack, it's sad to watch. Velocity comes jammed packed for the jamstack. Taking everything we have learned from building over 200 websites and packing it into a high-performance, competitor-crushing site kit.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
