---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "High Performance.",
    description:
      "0.2 second pageload & A+ GTMetrix scores.",
    icon: "carbon:asset",
  },
  {
    title: "Conversion-Focused.",
    description:
      "Code developed over 5 years, now at version 7.4.",
    icon: "ph:crosshair-light",
  },
  {
    title: "Ad Tracking Built-In.",
    description:
      "User identity, ad and conversion tracking.",
    icon: "ph:git-branch",
  },
  {
  title: "20+ Layouts.",
  description: "Faster development lifecycles with pre-made pages.",
  icon: "carbon:cube",
  },
  {
    title: "30+ Integrations.",
    description:
      "Integrated with popular platforms in your business.",
    icon: "ph:package-light",
  },
  {
    title: "50+ Components.",
    description:
      "Build custom pages fast with pre-made components.",
    icon: "ph:codesandbox-logo-light",
  },
  {
    title: "Extend/Automate.",
    description:
      "Infinitely extendable. Ready for any extension.",
    icon: "ph:stack",
  },
  {
    title: "One-Click Checkout.",
    description: "Sell more with simplified purchase flow.",
    icon: "ph:number-circle-one-light",
  },
  {
    title: "3D Experience Ready.",
    description: "Build beautiful, branded web experiences.",
    icon: "ph:game-controller",
  },
  {
    title: "MDX Blog Language.",
    description:
      "Write blog posts with styling, tables and graphs.",
    icon: "ph:pen-nib",
  },
  {
    title: "SEO Friendly.",
    description: "Automatically push content to Search Console.",
    icon: "ph:app-window",
  },
  {
    title: "Email Marketing.",
    description: "Integrate with popular email marketing API's.",
    icon: "ph:megaphone-simple",
  },
  {
    title: "Database Ready.",
    description: "Serve content from your database.",
    icon: "ph:intersect",
  },
  {
    title: "Advanced Analytics.",
    description: "Track user flow without losing performance.",
    icon: "ph:chart-pie",
  },
  {
    title: "Responsive Design.",
    description: "Completely responsive to 4 screen sizes.",
    icon: "ph:medium-logo-light",
  },
  {
    title: "Lifetime License.",
    description:
      "Pay once for Velocity. No hidden costs.",
    icon: "ion:infinite",
  },
];
---
<!-- Flickity -->
<link rel="stylesheet" href="/path/to/flickity.css" media="screen">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>
  .carousel-cell {
  margin-right: 10px;
  padding: 20px, 40px;
  width: 575px;
  max-width: 85vw;
}
/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
</style>

<div class="features-carousel grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 my-16 pb-16">
  {
    features.map((item) => (
    <div id="container" class="carousel-cell relative group">
      <div id="cardOuter" class="absolute -inset-1 bg-gradient-to-br from-pink-700 to-purple-700 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"></div>
      <div id="cardInner" class="relative px-4 py-8 bg-gray-50 hover:bg-gray-100 duration-200 ring-1 ring-gray-300 rounded-lg leading-none flex items-top justify-start space-x-6">
        <div class="mt-1 bg-black rounded-full p-2 w-12 h-12 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
          <p class="text-slate-700 group-hover:text-slate-800 mt-2 pr-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    </div>
    ))
  }
</div>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.features-carousel', {
  cellAlign: 'left',
  contain: true,
  autoPlay: 1500,
  groupCells: 4,
  prevNextButtons: false,
  });
</script>