---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import CPCmarketing from '../assets/marketing-results/cpc-marketing-results-real-estate-high-competitive-term.png';
import MetaAds from '../assets/marketing-results/br-facebook-carousel-ad.png';
import AnimatedAds from '../assets/marketing-results/aidxn-mobile-google-display-ads-hero-hd.webp';
import DisplayMarketing from '../assets/marketing-results/re-placement.webp';
import PrintAds from '../assets/marketing-results/print-advertising-managed-on-the-goldcoast.webp';
import BusAds from '../assets/marketing-results/bus-side-sml.webp';
import WebPerformance from '../assets/marketing-results/br-mac-render-med.webp';
import SEOmarketing from '../assets/marketing-results/Ball-Realty-Traffic-Improvement-through-SEO-by-aidxn-design.webp';


const services = [
  {
    title: "Google Search.",
    description:
      "Best used for high-intent marketing capture, paid CPC marketing can produce the fastest results. Our specialty is keeping the cost of aquisition down across all G-Search Campaigns.",
    imgsrc: CPCmarketing,
    imgalt: "Advertising with Google Search. Managed on the Gold Coast.",
    link: "blog/when-to-use-paid-search",
    style: "outline",
    btntxt: "Google Search",
  },
  {
    title: "Meta Ads.",
    description:
      "Facebook and Instagram ads can reach huge amounts of people with visual advertising, but lack manipulatable targeting data and can be costly if campaigns are not proven winners.",
    imgsrc: MetaAds,
    imgalt: "Advertising with Facebook and Instagram (Meta Network). Managed on the Gold Coast.",
    link: "blog/when-to-use-paid-meta-ads",
    style: "outline",
    btntxt: "Meta Ads",
  },
  {
    title: "Animated Ads.",
    description:
      "If you need to stay within a franchise's brand guidelines, these can be the most effective forms of marketing. Designed to contrast beautifully for the site you are looking to target.",
    imgsrc: AnimatedAds,
    imgalt: "Advertising with Google Display ads. Managed on the Gold Coast.",
    link: "blog/when-to-use-google-display-ads",
    style: "outline",
    btntxt: "Google Display",
  },
  {
    title: "Google Display.",
    description:
      "Google Display Network (GDN) is a great way to reach huge amounts of highly targeted people through visual soft-intent advertising, and one of our favourites.",
    imgsrc: DisplayMarketing,
    imgalt: "Advertising with Google Display ads. Managed on the Gold Coast.",
    link: "blog/when-to-use-google-display-ads",
    style: "outline",
    btntxt: "Google Display",
  },
  {
    title: "Print Advertising.",
    description:
      "If your business can promote itself well in a slightly longer format of video, or look to have a multistep video marketing strategy, there is no comparison.",
    imgsrc: PrintAds,
    imgalt: "Advertising with Billboards, managed locally to know your best oppurtunities.",
    link: "blog/how-to-maximise-youtube-advertising",
    style: "outline",
    btntxt: "Youtube Ads",
  },
  {
    title: "Bus Advertising.",
    description:
      "We can create a multistep video marketing strategy, completely cover the video filming and produ tion, and have 3 deliverables back to you within a week.",
    imgsrc: BusAds,
    imgalt: "Advertising with Youtube. Managed on the Gold Coast.",
    link: "blog/how-to-use-video-advertising-effectively",
    style: "outline",
    btntxt: "Video Ads",
  },
  {
    title: "SEO Marketing.",
    description:
      "Until Google goes away, SEO will always be valuable to your business. Free lead generation can be created easily in small niches. Hugely effective to outgrow compeition.",
    imgsrc: SEOmarketing,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
    link: "blog/how-to-maximise-your-websites-seo-performance",
    style: "outline",
    btntxt: "SEO",
  },
  {
    title: "Web Performance.",
    description:
      "Improving conversion has been proven by maths to improve conversion rates across the board. One of the easiest ways to improve revenue quickly.",
    imgsrc: WebPerformance,
    imgalt: "Improving conversion across the board through web performance improvements.",
    link: "blog/how-to-improve-website-conversion-rates",
    style: "outline",
    btntxt: "Performance",
  },
];
---

<div class="mt-16 pt-16 mb-8">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We're no one trick pony.
  </h2>
  <p class="text-lg max-w-4xl mt-4 text-slate-600">
    We dive deep to learn exactly where your business model succeeds most with your target market to drilldown and iterate improvements towards this goal from all directions.
  </p>
</div>

<div class="grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mt-16 gap-4 lg:gap-8">
  {
    services.map((item) => (
      <div class="flex gap-4 items-start">
        <div id="card" class="hover:bg-gray-100 duration-200 px-4 py-8 rounded">
          <div id="container" class="mt-1 p-2 w-full h-full shrink-0">
            <Picture
                  src={item.imgsrc}
                  sizes="(max-width: 900px) 100vw, 450px"
                  widths={[200, 400]}
                  aspectRatio="1:1"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl min-h-1/2"
                />
          </div>
          <div>
            <h3 class="font-semibold text-2xl">{item.title}</h3>{" "}
            <p class="text-sm text-slate-500 mt-2 mb-6 leading-relaxed">{item.description}</p>
            <p class="text-slate-500 mt-2 mb-6 mr-2 leading-relaxed">
              Platform:
              <Link 
                class="mr-4"
                href={item.link || "#"}
                block
                style={item.style ? "primary" : "outline"}>
                {item.btntxt || "Get Started"}
              </Link>
            </p>
          </div>
        </div>
      </div>
    ))
  }
</div>
