---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import GraphicDesign from '../assets/graph-des.png';
import WebDesign from '../assets/web-dev.png';
import Marketing from '../assets/dig-mark.png';
import VideoProd from '../assets/3d-video.png';


const features = [
  {
    title: "Brand Design & Direction.",
    description:
      "Developed as 'guardrails' to help your business stay on track to create a beautiful, high converting website.",
    imgsrc: GraphicDesign,
    imgalt: "Brand Design and strategy direction for the age of social marketing.",
    link: "/design",
    style: "outline",
    btntxt: "Brand Design",
  },
  {
    title: "Web Dev & Automation.",
    description:
      "Velocity7 is made to stay fast over the lifetime of your brand's development. Improving user experience, SEO and other vitals.",
    imgsrc: WebDesign,
    imgalt: "Gold Coast's best web design and development agency with over 10 years experience.",
    link: "/develop",
    style: "outline",
    btntxt: "Web Development",
  },
  {
    title: "Ad Strategy & Management.",
    description:
      "Built in conversion tracking to run highly successful ads instantly with Pixel-friendly code, automatic sitemaps and social tags.",
    imgsrc: Marketing,
    imgalt: "Ad strategy management on the Gold Coast without the giant fees.",
    link: "/leadgen",
    style: "outline",
    btntxt: "Lead Generation",
  },
  {
    title: "Videography & 3D Design.",
    description:
      "Reduce developer costs with 30+ commonly used components built-in with high performance, from image sliders / galleries to product cards and grids.",
    imgsrc: VideoProd,
    imgalt: "3D Video Design and Videography Production for Marketing",
    link: "/video",
    style: "outline",
    btntxt: "Video Production",
  },
];
---

<div class="my-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Design, Develop. Market, Moonshot.
  </h2>
  <p class="text-lg max-w-3xl mt-4 text-slate-600">
    We've got you covered from A-Z of online business development, backed by over 10+ years of developer experience and 6+ years of marketing strategy management experience.
  </p>
</div>

<div class="grid md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-64 h-64 shrink-0">
          <Picture
                src={item.imgsrc}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#f2f2f2"
                fit="cover"
                position="center"
                class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
        </div>
        <div>
          <h3 class="font-semibold text-2xl">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          <Link
            href={item.link || "#"}
            block
            style={item.style ? "primary" : "outline"}>
            {item.btntxt || "Get Started"}
          </Link>
        </div>
      </div>
    ))
  }
</div>
