---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";


const features = [
  {
    title: "Brand Design & Direction.",
    description:
      "Developed as 'guardrails' to help your business stay on track to create a beautiful, high converting website.",
    imgsrc: "src/assets/graph-des.png",
  },
  {
    title: "Web Dev & Automation.",
    description:
      "Velocity7 is made to stay fast over the lifetime of your brand's development. Improving user experience, SEO and other vitals.",
    imgsrc: "src/assets/web-dev.png",
  },
  {
    title: "Ad Strategy & Management.",
    description:
      "Built in conversion tracking to run highly successful ads instantly with Pixel-friendly code, automatic sitemaps and social tags.",
    imgsrc: "src/assets/dig-mark.png",
  },
  {
    title: "Videography & 3D Design.",
    description:
      "Reduce developer costs with 30+ commonly used components built-in with high performance, from image sliders / galleries to product cards and grids.",
    imgsrc: "src/assets/3d-video.png",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Design, Develop. Market, Moonshot.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We've got you covered from A-Z of online business development, backed by over 10+ years of developer experience and 6+ years of marketing strategy management experience.
  </p>
</div>

<div class="grid md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-64 h-64 shrink-0">
          <Picture
                src={item.imgsrc}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#f2f2f2"
                fit="cover"
                position="center"
                class="w-full rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
        </div>
        <div>
          <h3 class="font-semibold text-2xl">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
