---
import { Icon } from "astro-icon";

const features = [
  {
    title: "High Performance.",
    description:
      "0.2 second pageload & A+ GTMetrix scores.",
    icon: "carbon:asset",
  },
  {
    title: "Conversion-Focused.",
    description:
      "Code developed over 5 years. (v7.4)",
    icon: "ph:crosshair-light",
  },
  {
    title: "Ad Tracking Built-In.",
    description:
      "User identity, ad and conversion tracking.",
    icon: "ph:git-branch",
  },
  {
  title: "20+ Layouts.",
  description: "Faster development with pre-made layouts.",
  icon: "carbon:cube",
  },
  {
    title: "30+ Integrations.",
    description:
      "Integrate any NPM package.",
    icon: "ph:package-light",
  },
  {
    title: "50+ Components.",
    description:
      "Build custom pages faster with components.",
    icon: "ph:codesandbox-logo-light",
  },
  {
    title: "Extend/Automate.",
    description:
      "Infinitely extendable. Ready for any extension.",
    icon: "ph:stack",
  },
  {
    title: "One-Click Checkout.",
    description: "Sell more with simplified purchase flow.",
    icon: "ph:number-circle-one-light",
  },
  {
    title: "3D Experience Ready.",
    description: "Build beautiful, branded web experiences.",
    icon: "ph:game-controller",
  },
  {
    title: "Custom Brand Blog.",
    description:
      "Write highly informative blog posts easily.",
    icon: "ph:pen-nib",
  },
  {
    title: "SEO Friendly.",
    description: "Automatically push content to Search.",
    icon: "ph:app-window",
  },
  {
    title: "Email Marketing.",
    description: "Integrate with popular email marketing API's.",
    icon: "ph:megaphone-simple",
  },
  {
    title: "Built-in CRM.",
    description: "Serve content from your database.",
    icon: "ph:intersect",
  },
  {
    title: "Advanced Analytics.",
    description: "Track user flow without losing performance.",
    icon: "ph:chart-pie",
  },
  {
    title: "Responsive Design.",
    description: "Completely responsive to 4 screen sizes.",
    icon: "ph:medium-logo-light",
  },
  {
    title: "Lifetime License.",
    description:
      "Pay once for Velocity. No hidden costs.",
    icon: "ion:infinite",
  },
];
---

<main class="pt-8 mb-8 md:mb-16">

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-4 gap-4 md:gap-8 gap-y-4">
    {
      features.map((item) => (
      <div id="container" class="relative group">
        <div id="cardOuter" class="absolute -inset-1 bg-gradient-to-br from-pink-700 to-purple-700 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"></div>
        <div id="cardInner" class="relative px-4 py-8 bg-gray-50 hover:bg-gray-100 duration-200 ring-1 ring-gray-300 rounded-lg leading-none flex items-top justify-start space-x-4">
          <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 lg:w-16 lg:h-16 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h4 class="font-semibold text-xl">{item.title}</h4>{" "}
            <p class="text-slate-700 group-hover:text-slate-800 mt-2 pr-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      </div>
      ))
    }
  </div>
</main>
