---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">

  <div class="py-6 hidden md:block">

    <div class="py-6 -ZI4LDR3X">
      <h1 class="text-white text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        Building Better Brands.
      </h1>
      <p class="text-lg mt-4 text-slate-300 max-w-xl">
        Hit the ground running for your new business with our Velocity theme.
        Extreme performance out of the box with a sleek interface to give your customer the best online experience, no matter what industry.
        Helping you A - Z of the digital age, my skills cover you from design to development.
        <wbr>
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <a href="#" target="_blank" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-white w-5 h-5" astro-icon="bx:bxs-cloud-download">
            <path fill="currentColor" d="M18.944 11.112C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.61 5.757 9.149 3.609 9.792 2 11.82 2 14c0 2.657 2.089 4.815 4.708 4.971V19H17.99v-.003L18 19c2.206 0 4-1.794 4-4a4.008 4.008 0 0 0-3.056-3.888zM8 12h3V9h2v3h3l-4 5-4-5z"></path>
          </svg>

          Deploy a Site

        </a>
        <a href="#" rel="noopener" target="_blank" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-black w-4 h-4" astro-icon="bx:bxl-github">
            <path fill="currentColor" fill-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z" clip-rule="evenodd"></path>
          </svg>
          Velocity Stacks

        </a>
      </div>
    </div>
  </div>
  <div class="py-6 w-full hidden md:block">
    <div id="animationWrapper" translate="no" class="">
      <svg viewBox="-500 -500 1000 1000">
        <circle r="450"></circle>
        <circle class="equator" r="450"></circle>
        <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
        <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
        <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
        <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
        <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
        <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
        <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
        <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
        <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
        <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
        <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
        <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
      </svg>
    </div>

  </div>
</main>
