---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
</style>

<main class="my-8 md:my-16">
  <div id="heroSection" class="flex flex-col-reverse md:flex-row items-center mb-8">
    
    <div class="w-full md:w-2/3 lg:w-3/5">

      <div id="glassCard">
        <h1 style="heroTagline" class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl w-full max-w-6xl pt-4 md:pt-8 md:pr-8 lg:pr-24 font-bold tracking-tight">
          All-in-one brand + web design improvement.
        </h1>
        <ul class="text-lg lg:text-xl mt-6 text-slate-700 w-full max-w-3xl gap-2">
          <li>10+ years developing websites, specialising in conversion rate improvement.</li>
          <li>8+ years designing for print, branding and interactive experiences.</li> 
          <li>6+ years managing marketing campaigns in over 15 industries.</li>
        </ul>
        <div class="mt-6 flex flex-col sm:flex-row justify-start gap-3">
          <a href="https://aidxn.com/velocity" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-white" name="ph:lightning-fill" />
            </svg>

            Velocity Theme

          </a>
          <a href="https://aidxn.com/moonshot-plan" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-white" name="ph:planet-light" />
            </svg>

            Moonshot Plan

          </a>
        </div>
      </div>
    </div>
    <div class="md:w-1/3 xl:w-2/5 block mx-auto">
      <div id="animationWrapper" translate="no">
        <svg viewBox="-500 -500 1000 1000" class="w-full">
          <circle r="450"></circle>
          <circle class="equator" r="450"></circle>
          <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
          <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
          <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
          <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
          <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
          <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
          <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
          <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
          <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
          <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
          <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
          <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
        </svg>
      </div>

    </div>
  </div>
</main>
