---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---


<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#6D00A8;stroke-width:8px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  #heroTagline{font-size: 5vw;}
</style>

<main class="my-32 md:my-16">
  <div id="heroSection" class="flex flex-col-reverse md:flex-row place-items-center mb-8">
    
    <div class="w-full md:w-3/5 lg:w-4/5 py-6">

      <div class="py-6">
        <h1 style="heroTagline" class="text-5xl lg:text-7xl w-full pt-8 md:pt-16 md:pr-16 font-bold tracking-tighter">
          Where code meets design.
        </h1>
        <p class="text-lg mt-6 text-slate-700 w-full lg:max-w-3xl">
          10+ years designing & developing websites, plus 6+ years creating & managing marketing strategies, all in a single point of contact. Ditch the hot potato responsibility of agencies and come back to true reliablilty with an expert in scaling businesses online.
          <wbr>
        </p>
        <div class="mt-12 flex flex-col sm:flex-row gap-3">
          <a href="https://aidxn.com/services" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="text-black w-4 h-4">
              <Icon class="text-white" name="bx:bxs-cloud-download" />
            </svg>

            Services

          </a>
          <a href="https://aidxn.com/about" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="text-black w-4 h-4">
              <Icon class="text-black" name="bx:bxl-github" />
            </svg>
            
            Previous Work

          </a>
        </div>
      </div>
    </div>
    <div class="w-full md:w-2/5 lg:w-1/5 block">
      <div id="animationWrapper" translate="no">
        <svg viewBox="-500 -500 1000 1000" class="mx-auto lg:w-4/5">
          <circle r="450"></circle>
          <circle class="equator" r="450"></circle>
          <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
          <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
          <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
          <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
          <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
          <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
          <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
          <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
          <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
          <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
          <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
          <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
        </svg>
      </div>

    </div>
  </div>
</main>
