---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="bg-black text-white h-screen px-8 lg:px-16">
  <style>
     svg{width:100%;height:100%;perspective:50px}circle{stroke:hsl(279,100%,50%);stroke-width:5px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:1s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}body{background:#161a1c;align-items:center;justify-content:center;flex-direction:column}
  </style>
  <div class="mx-auto max-w-full max-h-screen">
      <div class="flex flex-wrap-reverse flex-row items-center justify-center">
        <div class="sm:w-full md:w-3/5 mb-4 pr-2 xl:pr-8">
          <a class="inline-block mb-6 text-3xl font-bold leading-none">
            <!-- Aidxn header bubbles -->
            <svg class="w-auto h-12" viewBox="0 0 73 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M46.8676 24C46.8676 36.4264 36.794 46.5 24.3676 46.5C11.9413 46.5 1.86765 36.4264 1.86765 24C1.86765 11.5736 11.9413 1.5 24.3676 1.5C36.794 1.5 46.8676 11.5736 46.8676 24Z" class="ccustom" fill="#a855f7"></path>
              <path d="M71.1324 24C71.1324 36.4264 61.1574 46.5 48.8529 46.5C36.5484 46.5 26.5735 36.4264 26.5735 24C26.5735 11.5736 36.5484 1.5 48.8529 1.5C61.1574 1.5 71.1324 11.5736 71.1324 24Z" class="ccompli1" fill="#4090f2"></path>
              <path d="M36.6705 42.8416C42.8109 38.8239 46.8676 31.8858 46.8676 24C46.8676 16.1144 42.8109 9.17614 36.6705 5.15854C30.5904 9.17614 26.5735 16.1144 26.5735 24C26.5735 31.8858 30.5904 38.8239 36.6705 42.8416Z" class="ccompli2" fill="#141d52"></path>
            </svg>
          </a>

          <h4 class="mb-4 tracking-widest text-sm font-medium text-gray-300 uppercase">Conversion Focused Design.</h4>
          <div class="text-white pr-4">
            <h1 id="heroHead" class="mb-4 text-7xl tracking-snug leading-snug font-bold max-w-full">Edge web performance and enterprise level Web3 automation.</h1>
          </div>

          <div class="text-white max-w-3xl">
            <h5 class="mt-12 text-md sm:text-lg md:text-xl xl:text-2xl font-medium max-w-full">Hear about the possibilities from our team.</h5>
          </div>
          <form action="velocity/success" method="POST" name="Simple Contact">
              <input type="hidden" name="form-name" value="Simple Contact">
                <div class="max-w-2xl grid grid-rows-1 md:gap-8 mt-2 mb-8">
                  <div class="relative z-0 w-full mb-8 group">
                    <input type="text" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-2xl text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white focus:border-purple-400 focus:outline-none focus:ring-0 focus:border-purple-400 peer" placeholder=" " required="">
                    <label for="floating_email" class="peer-focus:font-medium absolute text-md text-gray-300 duration-300 transform focus:border-purple-400 -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                      Email Address
                    </label>
                  </div>
                  <button type="submit" class="text-white bg-purple-800 hover:bg-purple-400 focus:ring-4 font-semibold font-2xl rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
                    Submit
                  </button>
                </div>
            
            </form>
        </div>

        <div class="sm:w-full md:w-2/5 flex justify-center">
          <div class="w-full h-fit">

            <div id="animationWrapper" translate="no">
              <svg viewBox="-500 -500 1000 1000">
                <circle r="450"></circle>
                <circle class="equator" r="450"></circle>
                <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
                <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
                <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
                <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
                <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
                <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
                <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
                <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
                <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
                <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
                <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
                <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
              </svg>
            </div>

          </div>
        </div>

      </div>

    </div>
</main>
