---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

import GraphicDesign from '../assets/aidxn/trig.svg';
import WebDesign from '../assets/aidxn/sqr.svg';
import Marketing from '../assets/aidxn/poly.svg';
import VideoProd from '../assets/aidxn/hex.svg';


const features = [
  {
    title: "Brand Strategy.",
    description:
      "Brand design, strategy + direction that avoid design churn and huge ad spend.",
    imgsrc: GraphicDesign,
    imgalt: "Brand Design and strategy direction for the age of social marketing.",
    link: "/brand-strategy",
    style: "outline",
    btntxt: "More info",
  },
  {
    title: "Web Design.",
    description:
      "Award-winning web design. 10+ years experience. High-performance web dev.",
    imgsrc: WebDesign,
    imgalt: "Gold Coast's best web design and development agency with over 10 years experience.",
    link: "/web-design",
    style: "outline",
    btntxt: "More info",
  },
  {
    title: "Marketing.",
    description:
      "Deploy + scale marketing campaigns for local businesses + global brands.",
    imgsrc: Marketing,
    imgalt: "Ad strategy management on the Gold Coast without the giant fees.",
    link: "/marketing",
    style: "outline",
    btntxt: "More info",
  },
  {
    title: "Automation.",
    description:
      "Capture engagement with higher conversion rate and less labour costs using AI.",
    imgsrc: VideoProd,
    imgalt: "3D Video Design and Videography Production for Marketing",
    link: "/video-ads",
    style: "outline",
    btntxt: "More info",
  },
];
---

<style>
    /* Glass-card effect dial in, needs a moving background css only if possible */
    #glass-card {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 30px 15px;
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }
</style>

<main class="my-16 md:my-32">
  <div id="introContainer" class="mb-4 md:mb-8">
    <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
      Design, Develop. Market, Moonshot.
    </h2>
    <div class="flex flex-col lg:flex-row">
    <p class="w-full lg:w-1/2 text-sm lg:text-lg pr-4 lg:pr-8 mt-4 lg:max-w-3xl text-slate-700"> 
      I help businesses grow faster with a wide range of services from strategy to development to videography.
      Access more customers with high-conversion website design using any framework from Shopify, Wordpress to Velocity7.
      Applying what I know about your customers through data-driven marketing to help you scale faster.
    </p>
    <p class="w-full lg:w-1/2 text-sm lg:text-lg pr-4 lg:pr-8 mt-4 lg:max-w-3xl text-slate-700"> 
      Velocity7 is our all-in-one, high-performance website framework, with SEO and conversion tracking out of the box.
      Scale faster with our monthly management, the Moonshot Plan. Fast moving brand, website and marketing management 
      for all round business optimisation with in-person monthly meetings. 
    </p>
    </div>
  </div>

  <div id="gridContainer" class="grid grid-cols-2 xl:grid-cols-4">
    {
      features.map((item) => (
        <div class="flex items-start">
          <div id="glass-card" class="card-padding w-full flex flex-col items-start">
            <div id="imgContainer" class="mt-1 w-1/3">
              <img src={item.imgsrc} class="" />
            </div>
            <div id="textContainer" class="w-full my-4">
              <h3 class="font-semibold text-xl md:text-2xl lg:text-3xl">{item.title}</h3>{" "}
              <p class="text-slate-700 text-xs md:text-md max-w-3xl mt-2 mb-6 leading-relaxed">{item.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</main>