---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <style>
     svg{width:100%;height:100%;perspective:50px}circle{stroke:hsl(279,100%,50%);stroke-width:5px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:1s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}body{background:#161a1c;align-items:center;justify-content:center;flex-direction:column}
  </style>
  <div class="py-6 md:order-1 hidden md:block">
            <div id="animationWrapper" translate="no">
              <svg viewBox="-500 -500 1000 1000">
                <circle r="450"></circle>
                <circle class="equator" r="450"></circle>
                <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
                <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
                <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
                <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
                <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
                <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
                <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
                <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
                <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
                <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
                <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
                <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
              </svg>
  </div>
  <div>
    <h1
      class="text-white text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Building Better Brands.
    </h1>
    <p class="text-lg mt-4 text-slate-300 max-w-xl">
      Hit the ground running for your new business with our Velocity theme.
      Extreme performance out of the box with a sleek interface to give your customer the best online experience, no matter what industry.
      Helping you A - Z of the digital age, my skills cover you from design to development.
      <wbr /> 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Deploy a Site
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        Velocity Stacks
      </Link>
    </div>
  </div>
</main>
