---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Conversion-Focused.",
    description:
      "Developed over 5 years.",
    icon: "carbon:asset",
  },
  {
    title: "High Performance.",
    description:
      "0.2 second pageload.",
    icon: "ph:hard-drives",
  },
  {
    title: "Ad Tracking Built-In.",
    description:
      "Cookie-less authentication.",
    icon: "ph:git-branch",
  },
  {
    title: "30+ Components.",
    description:
      "Build custom pages, fast.",
    icon: "carbon:cube",
  },
  {
    title: "20+ Integrations.",
    description:
      "Generate real sales and leads.",
    icon: "ph:stack",
  },
  {
    title: "Extend/Automate.",
    description:
      "Infinitely extendable.",
    icon: "ph:graph",
  },
];
---


<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#6D00A8;stroke-width:8px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  #heroTagline{font-size: 5vw;}
</style>

<div id="heroSection" class="flex flex-col sm:flex-row place-items-center my-8 pb-8">
  
  <div class="w-full lg:w-3/5 py-6">

    <div class="py-6">
      <h1 style="heroTagline" class="text-6xl lg:text-7xl w-full lg:max-w-4xl font-bold lg:tracking-tight xl:tracking-tighter">
        Introducing Velocity7.
      </h1>
      <p class="text-lg mt-6 text-slate-700 w-full lg:max-w-4xl">
        Our in-house theme, built from the ground up for performance, tailored for Australian online businesses.
        Migrate from your legacy stack of pain to Velocity7 in conversion rate across the board.
        <wbr>
      </p>
      <div class="mt-12 flex flex-col sm:flex-row gap-3">
        <a href="https://aidxn.com/velocity7" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-white w-5 h-5" astro-icon="bx:bxs-cloud-download">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M9.94 2.512a20.75 20.75 0 0 1 4.692 0l1.596.182a.75.75 0 0 1 .62 1.003l-2.203 6.016H17a.75.75 0 0 1 .702 1.014l-.19.507a35.749 35.749 0 0 1-5.535 9.745l-.391.49A.75.75 0 0 1 10.25 21v-7.152H8.429a.75.75 0 0 1-.748-.684l-.122-1.382a39.75 39.75 0 0 1 0-7.027l.122-1.382a.75.75 0 0 1 .663-.68l1.595-.18Zm4.523 1.49a19.25 19.25 0 0 0-4.354 0l-.987.113l-.069.772c-.2 2.25-.2 4.513 0 6.763l.062.698H11a.75.75 0 0 1 .75.75v5.704a34.251 34.251 0 0 0 4.163-7.589H13.57a.75.75 0 0 1-.704-1.007l2.244-6.13l-.648-.073Z" clip-rule="evenodd"/></svg>          </svg>

          Velocity7

        </a>
        <a href="https://aidxn.com/blog/10-reasons-to-leave-web2-for-businesses-in-australia#3-performance-comparison-table/" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-black w-4 h-4" astro-icon="bx:bxl-github">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="evenOdd" d="M14.604 2.76a20.5 20.5 0 0 0-4.637 0l-1.595.182a.5.5 0 0 0-.441.453l-.123 1.382a39.5 39.5 0 0 0 0 6.983l.123 1.382a.5.5 0 0 0 .498.456H10.5V21a.5.5 0 0 0 .89.312l.391-.49a35.5 35.5 0 0 0 5.497-9.676l.19-.507A.5.5 0 0 0 17 9.963h-2.713l2.325-6.352a.5.5 0 0 0-.413-.669l-1.595-.181Z"/></svg>
        </svg>
          
          Performance Comparisons

        </a>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-2/5 py-6 block">
    <div id="animationWrapper" translate="no">
      <svg viewBox="-500 -500 1000 1000" class="h-96 max-h-3/4">
        <circle r="450"></circle>
        <circle class="equator" r="450"></circle>
        <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
        <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
        <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
        <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
        <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
        <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
        <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
        <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
        <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
        <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
        <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
        <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
      </svg>
    </div>

  </div>
</div>
<div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 mt-4 mb-16 gap-8">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-4 w-16 h-16 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
