---
import { Picture } from "@astrojs/image/components";
import Dash from "../assets/dashboard.png";
import Chart from "../assets/chart.png";
import Payment from "../assets/payment.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

---



<main class="my-32 md:my-16">
<div id="heroSection" class="flex flex-col sm:flex-row items-center">
  
  <div id="leftContainer" class="w-full md:w-3/5 lg:w-4/5 pt-8 md:pt-16 md:pr-16">

    <div class="py-6">
      <h2 class="text-2xl md:text-3xl lg:text-5xl w-full font-bold tracking-tight">
        Launch your business to the edge.
      </h2>
      <p class="text-lg mt-6 text-slate-700 w-full lg:max-w-4xl">
        If you're trying to run a business in the land of "has anyone got any service?", you'll want your site blazin'.
        That's exactly what we designed Velocity7 for, integrated with everything you need without lacking performance.
        Out-performing some of the biggest names in the industry to migrate to the edge for less. Infinitely extendable.
      </p>
      <div class="mt-12 flex flex-col sm:flex-row gap-3">
        <a href="https://velocity.aidxn.com/" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
          <svg viewBox="0 0 24 24" class="text-white w-5 h-5" astro-icon="ph:lightning-fill">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M9.94 2.512a20.75 20.75 0 0 1 4.692 0l1.596.182a.75.75 0 0 1 .62 1.003l-2.203 6.016H17a.75.75 0 0 1 .702 1.014l-.19.507a35.749 35.749 0 0 1-5.535 9.745l-.391.49A.75.75 0 0 1 10.25 21v-7.152H8.429a.75.75 0 0 1-.748-.684l-.122-1.382a39.75 39.75 0 0 1 0-7.027l.122-1.382a.75.75 0 0 1 .663-.68l1.595-.18Zm4.523 1.49a19.25 19.25 0 0 0-4.354 0l-.987.113l-.069.772c-.2 2.25-.2 4.513 0 6.763l.062.698H11a.75.75 0 0 1 .75.75v5.704a34.251 34.251 0 0 0 4.163-7.589H13.57a.75.75 0 0 1-.704-1.007l2.244-6.13l-.648-.073Z" clip-rule="evenodd"/></svg>
          </svg>

          Velocity7

        </a>
        <a href="https://vanilla.aidxn.com/" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"><svg viewBox="0 0 24 24" class="text-black w-4 h-4" astro-icon="ph:table">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="evenOdd" d="M14.604 2.76a20.5 20.5 0 0 0-4.637 0l-1.595.182a.5.5 0 0 0-.441.453l-.123 1.382a39.5 39.5 0 0 0 0 6.983l.123 1.382a.5.5 0 0 0 .498.456H10.5V21a.5.5 0 0 0 .89.312l.391-.49a35.5 35.5 0 0 0 5.497-9.676l.19-.507A.5.5 0 0 0 17 9.963h-2.713l2.325-6.352a.5.5 0 0 0-.413-.669l-1.595-.181Z"/></svg>
        </svg>
          
          Velocity.vanilla

        </a>
      </div>
    </div>
  </div>

  <div id="rightContainer" class="relative px-8 lg:px-16 pb-32 my-16 h-full w-full md:w-2/5 lg:w-1/5 lg:pb-0 lg:mt-0 group">

    <div class="relative z-10 flex items-center justify-center w-full h-full">
      <div class="w-full h-auto max-h-48 lg:max-h-64 xl:max-h-96">
        <div id="imgContainer" class="">
          <Picture
                src={Chart}
                sizes="(max-width: 800px) 800px, 400px"
                widths={[400, 800]}
                loading="eager"
                aspectRatio="4:5"
                background="#f2f2f2"
                fit="contain"
                position="center"
                class="absolute bottom-0 left-0 z-10 object-cover object-center w-24 -mb-12 -ml-4 transition duration-300 transform rounded-md shadow-2xl md:w-32 lg:w-32 xl:w-40 md:-ml-12 md:rounded-lg lg:rounded-xl group-hover:scale-95"
              />
        </div>
        <div id="imgContainer" class="">
          <Picture
                src={Payment}
                sizes="(max-width: 800px) 800px, 400px"
                widths={[400, 800]}
                loading="eager"
                aspectRatio="3:2"
                background="#f2f2f2"
                fit="contain"
                position="center"
                class="absolute right-0 z-10 object-cover object-center -mt-8 -mr-8 transition duration-300 transform rounded-md shadow-2xl md:w-40 lg:w-40 lg:top-0 lg:-mt-16 md:-mr-16 lg:-mr-6 md:rounded-lg lg:rounded-xl group-hover:scale-105"
              />
        </div>
        <div id="ImgContainer" class="relative w-full h-full overflow-hidden transition duration-300 transform shadow-lg rounded-xl group-hover:scale-95">
          <Picture
                src={Dash}
                sizes="(max-width: 800px) 100vw, 800px"
                widths={[400, 800]}
                loading="eager"
                aspectRatio="3:2"
                background="#f2f2f200"
                fit="contain"
                position="center"
                class="w-full z-4"
              />
        </div>
        
      </div>
    </div>
  </div>
</div>

</main>
