---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<!-- SVG CSS and Animate for Aidxn Moving Logo -->
<style>
  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff;transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
</style>

<main class="my-8 md:my-16">
  <div id="heroSection" class="flex flex-col-reverse items-center text-center">
    
    <div class="w-full max-w-6xl">

      <div id="glassCard">
        <h1 style="heroTagline" class="mx-auto text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl w-full max-w-6xl pt-4 font-bold tracking-tight">
          Introducing Velocity.
        </h1>
        <p class="text-lg lg:text-xl mt-6 mb-8 text-slate-700 max-w-3xl mx-auto">
          Helping brands scale from launch faster. Complete with everything needed to generate leads and sales online no matter what product or service. 
          0.2 second pageload out-of-the-box. Works with any next-gen javascript framework, extendable with any NPM package. Currently at version 7.8.
        </p>
        <div class="mt-6 flex flex-col sm:flex-row justify-center gap-3">
          
          <a href="https://g2ok5807scs.typeform.com/to/tCmzlDza" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
            <svg viewBox="0 0 24 24" class="w-4 h-4">
              <Icon class="text-black" name="ph:chat-teardrop-dots-light" />
            </svg>
            
            Book a Call
  
          </a>
        </div>
      </div>
    </div>
    <div class="w-1/6 block mx-auto">
      <div id="animationWrapper" translate="no" transition:name="meridian">
        <svg viewBox="-500 -500 1000 1000" class="w-full">
          <circle r="450"></circle>
          <circle class="equator" r="450"></circle>
          <circle class="meridian" r="450" style="--start:165deg; --end:180deg"></circle>
          <circle class="meridian" r="450" style="--start:150deg; --end:165deg"></circle>
          <circle class="meridian" r="450" style="--start:135deg; --end:150deg"></circle>
          <circle class="meridian" r="450" style="--start:120deg; --end:135deg"></circle>
          <circle class="meridian" r="450" style="--start:105deg; --end:120deg"></circle>
          <circle class="meridian" r="450" style="--start:90deg; --end:105deg"></circle>
          <circle class="meridian" r="450" style="--start:75deg; --end:90deg"></circle>
          <circle class="meridian" r="450" style="--start:60deg; --end:75deg"></circle>
          <circle class="meridian" r="450" style="--start:45deg; --end:60deg"></circle>
          <circle class="meridian" r="450" style="--start:30deg; --end:45deg"></circle>
          <circle class="meridian" r="450" style="--start:15deg; --end:30deg"></circle>
          <circle class="meridian" r="450" style="--start:0deg; --end:15deg"></circle>
        </svg>
      </div>

    </div>
  </div>
</main>
