---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mb-24 pb-24">
  <div id="container" class="max-w-6xl mx-auto">

    <h3 class="text-center text-slate-700 uppercase">Integratations that drive results</h3>

    <div class="max-w-3xl mx-auto flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
      <Icon class="h-8 md:h-12" name="simple-icons:zapier" />
      <Icon class="h-8 md:h-12" name="simple-icons:googleads" />
      <Icon class="h-8 md:h-12" name="simple-icons:chromecast" />
      <Icon class="h-8 md:h-16" name="simple-icons:firebase" />
      <Icon class="h-8 md:h-12" name="simple-icons:airtable" />
      <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
      <Icon class="h-8 md:h-12" name="simple-icons:sketchup" />
      <Icon class="h-8 md:h-12" name="simple-icons:stripe" />
      <Icon class="h-8 md:h-12" name="simple-icons:slack" />
      <Icon class="h-8 md:h-12" name="simple-icons:netlify" />
      <Icon class="h-8 md:h-12" name="simple-icons:git" />
      <Icon class="h-8 md:h-12" name="simple-icons:gitlab" />
    </div>

  </div>
</div>
