---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="my-8 md:my-16">
  <div id="container" class="px-4 lg:px-8">

    <h5 class="text-xs md:text-sm text-center text-black uppercase mb-4">Convert more website visitors</h5>
    <h3 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight mb-6 text-center">30+ integrations.</h3>
    <p class="text-center text-md md:text-lg mb-8">Generate more business from your website no matter your industry with integrated tools.</p>

    <div class="mx-auto max-w-6xl flex gap-6 md:gap-8 items-center justify-center px-8 mt-16 pb-8 flex-wrap">
      
      <Icon class="h-6 md:h-8" name="simple-icons:googleanalytics" />
      <Icon class="h-6 md:h-8" name="simple-icons:zapier" />
      <Icon class="h-6 md:h-8" name="simple-icons:googleads" />
      <Icon class="h-6 md:h-8" name="simple-icons:pagespeedinsights" />
      <Icon class="h-6 md:h-8" name="simple-icons:googlesearchconsole" />
      <Icon class="h-6 md:h-8" name="simple-icons:stripe" />
      <Icon class="h-6 md:h-8" name="simple-icons:googlepay" />
      <Icon class="h-6 md:h-8" name="simple-icons:applepay" />
      <Icon class="h-6 md:h-8" name="simple-icons:typeform" />
      <Icon class="h-6 md:h-8" name="simple-icons:framer" />
      <Icon class="h-6 md:h-8" name="simple-icons:tailwindcss" />
      <Icon class="h-6 md:h-8" name="simple-icons:cinema4d" />
      <Icon class="h-6 md:h-8" name="simple-icons:blender" />
      <Icon class="h-6 md:h-8" name="simple-icons:sketchup" />
      <Icon class="h-6 md:h-8" name="simple-icons:threedotjs" />
      <Icon class="h-6 md:h-8" name="simple-icons:chartdotjs" />
      <Icon class="h-6 md:h-8" name="simple-icons:web3dotjs" />
      <Icon class="h-6 md:h-8" name="simple-icons:webgl" />
      <Icon class="h-6 md:h-8" name="simple-icons:datocms" />
      <Icon class="h-6 md:h-8" name="simple-icons:slack" />
      <Icon class="h-6 md:h-8" name="simple-icons:airtable" />
      <Icon class="h-6 md:h-8" name="simple-icons:googleearth" />
      <Icon class="h-6 md:h-8" name="simple-icons:kubernetes" />
      <Icon class="h-6 md:h-8" name="simple-icons:googlecloud" />
      <Icon class="h-6 md:h-8" name="simple-icons:firebase" />
      <Icon class="h-6 md:h-8" name="simple-icons:npm" />
      <Icon class="h-6 md:h-8" name="simple-icons:deno" />
      <Icon class="h-6 md:h-8" name="simple-icons:netlify" />
      <Icon class="h-6 md:h-8" name="simple-icons:cloudflare" />
      <Icon class="h-6 md:h-8" name="simple-icons:git" />
      
    </div>
    
  </div>
</div>
