---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mb-24 pb-24">
  <div id="container" class="flex flex-col md:flex-row justify-center items-center">
    
    <div id="leftContainer" class="w-full md:w-3/5">
      <h3 class="text-black text-3xl font-regular mb-8">Integrated with the most popular business platforms, without losing performance.</h3>
      <p class="text-lg">Ready to take payments, authenticate users, and handle secure CMS data straight away.</p>
    </div>

    <div id=rightContainer" class="w-full md:2/5">
      <div class="mx-auto gap-8 flex items-center justify-center mt-10 flex-wrap">
        <Icon class="h-8 md:h-12" name="simple-icons:zapier" />
        <Icon class="h-8 md:h-12" name="simple-icons:googleads" />
        <Icon class="h-8 md:h-12" name="simple-icons:chromecast" />
        <Icon class="h-8 md:h-16" name="simple-icons:firebase" />
        <Icon class="h-8 md:h-12" name="simple-icons:airtable" />
        <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
        <Icon class="h-8 md:h-12" name="simple-icons:sketchup" />
        <Icon class="h-8 md:h-12" name="simple-icons:stripe" />
        <Icon class="h-8 md:h-12" name="simple-icons:slack" />
        <Icon class="h-8 md:h-12" name="simple-icons:netlify" />
        <Icon class="h-8 md:h-12" name="simple-icons:git" />
        <Icon class="h-8 md:h-12" name="simple-icons:gitlab" />
      </div>
    </div>

  </div>
</div>
