---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mb-24 pb-24">
  <h2 class="text-center text-slate-700 uppercase">High-Performance Integrations</h2>
  <div class="grid grid-cols-3 lg:grid-cols-6 gap-4 lg:gap-8 items-center justify-center mt-10 flex-wrap">

    <div id="iconContainer" class="flex flex-col items-center justify-center">  
      <Icon class="h-8 md:h-12" name="simple-icons:zapier" />
      <h3 class="font-semibold text-lg">Zapier</h3>
      <p class="text-slate-700 text-sm md:text-xs italic">Automate directly within your site to improve sales.</p>
    </div>
    <div id="iconContainer" class="flex flex-col items-center justify-center">  
      <Icon class="h-8 md:h-12" name="simple-icons:googleads" />
      <h3 class="font-semibold text-lg">Google Ads</h3>
      <p class="text-slate-700 text-sm md:text-xs italic">World-class DNS to reach Aussie customers faster.</p>
    </div>
    <div id="iconContainer" class="flex flex-col items-center justify-center">  
      <Icon class="h-8 md:h-12" name="simple-icons:googletagmanager" />
      <h3 class="font-semibold text-lg">Google Tag Manager</h3>
      <p class="text-slate-700 text-sm md:text-xs italic">Reduce ad cost with built-in conversion tracking.</p>
    </div>
    <div id="iconContainer" class="flex flex-col items-center justify-center">  
      <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
      <h3 class="font-semibold text-lg">Cloudflare DNS</h3>
      <p class="text-slate-700 text-sm md:text-xs italic">World-class DNS to reach Aussie customers faster.</p>
    </div>
    <div id="iconContainer" class="flex flex-col items-center justify-center">  
      <Icon class="h-8 md:h-12" name="simple-icons:git" />
      <h3 class="font-semibold text-lg">Git CL/CI</h3>
      <p class="text-slate-700 text-sm md:text-xs italic">Industry standard code management and NPM support.</p>
    </div>
    <div id="iconContainer" class="flex flex-col items-center justify-center">  
      <Icon class="h-8 md:h-12" name="simple-icons:netlify" />
      <h3 class="font-semibold text-lg">Netlify</h3>
      <p class="text-slate-700 text-sm md:text-xs italic">Cost-effective code push and secure CL/CI.</p>
    </div>

  </div>
</div>
