---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mb-16 pb-16">
  <div id="container" class="max-w-screen-2xl flex flex-col md:flex-row justify-center items-center">
    
    <div id="leftContainer" class="w-full md:w-1/2">
      <h3 class="text-black text-2xl font-semibold mb-8">Integrated with the most popular business platforms.</h3>
      <p class="text-lg text-slate-700">Process payments. Authenticate users and forms. Send automated emails. All without losing page performance.</p>
    </div>

    <div id=rightContainer" class="w-full md:w-1/2">
      <div class="w-3/4 mx-auto gap-8 flex items-center justify-center mt-10 flex-wrap">
        <Icon class="h-8 md:h-12" name="simple-icons:zapier" />
        <Icon class="h-8 md:h-12" name="simple-icons:googleads" />
        <Icon class="h-8 md:h-12" name="simple-icons:chromecast" />
        <Icon class="h-8 md:h-16" name="simple-icons:firebase" />
        <Icon class="h-8 md:h-12" name="simple-icons:airtable" />
        <Icon class="h-8 md:h-12" name="simple-icons:cloudflare" />
        <Icon class="h-8 md:h-12" name="simple-icons:sketchup" />
        <Icon class="h-8 md:h-12" name="simple-icons:stripe" />
        <Icon class="h-8 md:h-12" name="simple-icons:slack" />
        <Icon class="h-8 md:h-12" name="simple-icons:netlify" />
        <Icon class="h-8 md:h-12" name="simple-icons:git" />
        <Icon class="h-8 md:h-12" name="simple-icons:gitlab" />
      </div>
    </div>

  </div>
</div>
