---
const { align = "center" } = Astro.props;
---
<div id="containerFlex" class="flex justify-center items-center">
<div id="leftContainer" class="w-full lg:w-1/2 mt-16 mb-8">
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <slot name="title">Title</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
<diu>

  <div id="rightContainer" class="w-full lg:w-1/2">
    <section class="py-8 px-4">
      <div class="flex flex-wrap w-full lg:w-1/2 -mx-4 -mb-8"> 
        <div class="md:w-1/2 px-4 mb-8"><img name="img1" class="rounded shadow-md" src="/src/assets/web-dev.png" /></div>
        <div class="md:w-1/2 px-4 mb-8"><slot name="img2" class="rounded shadow-md" src="/src/assets/dig-mark.png" /></div>
        <div class="md:w-1/2 px-4 mb-8"><slot name="img3" class="rounded shadow-md" src="/src/assets/3d-video.png" /></div>
        <div class="md:w-1/2 px-4 mb-8"><slot name="img4" class="rounded shadow-md" src="/src/assets/graph-des.png" /></div>
      </div>
    </section>
  </div>

</diu>
</div>
