---
const { align = "center" } = Astro.props;
---

<div class="my-16 pb-16 flex flex-col md:flex-row justify-start items-center">
  <div id="leftContainer" class="w-full md:w-1/2">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      <slot name="title">Title</slot>
    </h1>
    <p class="text-lg max-w-3xl mt-4 text-slate-700">
      <slot name="desc">Some description goes here</slot>
    </p>
  </div>
  <div id="rightContainer" class="w-full md:w-1/2">
    <slot class="bg-grey-700 rounded px-8 lg:px-16 py-4 duration-200 hover:shadow-md shadow-sm" name="cover"></slot>
  </div>
</div>
