---

---
<div id="containerFlex" class="flex justify-start items-center">
<div id="leftContainer" class="w-full lg:w-1/2 mt-16 mb-8">
  <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <slot name="title">Title</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
<div id="rightContainer" class="w-full lg:w-1/2 flex items-center justify-center">
    <slot class="bg-grey-700 rounded" name="cover"></slot>
</div>
</div>
