---
const { align = "center" } = Astro.props;
---

<div class="my-16 flex flex-col md:flex-row">
  <div id="leftContainer" class="w-full md:w-1/2">
    <div class="mt-1 bg-black rounded-full p-4 w-16 h-16 shrink-0">
      <slot name="iconleft"></slot>
    </div>
    <p class="text-lg max-w-3xl mx-auto mt-4 text-slate-700">
      <slot name="textleft">Some description goes here</slot>
    </p>
  </div>
  <div id="rightContainer" class="w-full md:w-1/2">
    <div class="mt-1 bg-black rounded-full p-4 w-16 h-16 shrink-0">
      <slot name="iconright"></slot>
    </div>
    <p class="text-lg max-w-3xl mx-auto mt-4 text-slate-700">
      <slot name="textright">Some description goes here</slot>
    </p>
  </div>
</div>
