---
const { align = "center" } = Astro.props;
---

<div class:list={["my-16", align === "center" && "text-center"]}>
  <h3 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    <slot name="title">Title</slot>
  </h3>
  <p class="text-lg max-w-6xl mx-auto mt-4 text-slate-700">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
