---
// @ts-ignore
import Meridianwhite from 'assets/sqr-bg.webp';
---
<style>
  :doodle {
  grid-gap: 2px;
  width: 75vh;
  height: 75vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
  background: #1d1e22;
  border-radius:100%;
  --scaledelay: calc((
  (@abs(@abs(@row - @size-row/2) + @abs(@col - @size-col/2) - @size-col) / @size-col) - 1) * -1.5s) ;
  animation-name: scale;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: var(--scaledelay);
  transform: scale(0.2);
  @keyframes scale {
  0%{
  transform: scale(0.2);
  }
  50%{
  transform: scale(1);
  }
  100%{
  transform: scale(0.2);
  }
  }
</style>
  
  
<div class="my-16">
  <div class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto rounded-lg flex flex-col items-center text-center">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">
      Conversion-focused design.
      Performance-focused development.
    </h2>
    <p class="text-slate-400 mt-4 text-lg md:text-xl">
      Ditch the agency blues and get back to what truly works: an expert you can rely on.
    </p>
    <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
      <img src={Meridianwhite} class="h-8 md:h-24" />
      <img src={Meridianwhite} class="h-8 md:h-24" />
      <img src={Meridianwhite} class="h-8 md:h-24" />
      <img src={Meridianwhite} class="h-8 md:h-24" />
      
    </div>
  </div>
</div>
  
<div>
  
<div class="hero-section">
    <css-doodle grid="21">
  
    </css-doodle>
</div>

  
</div>
  
<div>
  
  
  
</div>
