---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import Bill from '../assets/previous-works/br/br-bill.jpg';
import Bus from '../assets/previous-works/br/br-bus.jpg';
import FB from '../assets/previous-works/br/br-fb.jpg';
import Vox from '../assets/previous-works/br/br-vox.jpg';
import Weather from '../assets/previous-works/br/br-wth.jpg';


const services = [
  {
    imgsrc: Bill,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
  {
    imgsrc: Bus,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
  {
    imgsrc: FB,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
  {
    imgsrc: Vox,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
  {
    imgsrc: Weather,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  /* Start Flickity viewport safeguards V4 */
  main { max-width: 100%; }
  .flickity-viewport { margin: 0 auto; }
  .ball-carousel, .flickity-viewport { max-width: 100vw !important; }
  .ball-carousel { margin: 20px auto; min-height: 280px; }
  /* End Flickity viewport safeguards V4 */


  /* Glass-card effect dial in, minimal */
  #glass-card {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }

  #works-row { border: black; border-top: ridge; }

  </style>

<main id="works-row" class="my-8 md:my-16">
<div class="py-4">
  <h3 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Ball Realty.
  </h3>
  <p class="text-sm lg:text-lg max-w-6xl mt-2 text-slate-600">
    Moonshot Plan management.
  </p>
</div>

<div id="sliderContainer" class="ball-carousel pb-8">
  {
    services.map((item) => (
      <div class="carousel-cell flex flex-col md:flex-row justify-center md:items-center w-2/5 lg:w-1/3 xl:w-1/4">
        <Picture
              id="glass-card"
              src={item.imgsrc}
              sizes="(max-width: 1200px) 1200px, 900px, 600px"
              widths={[600, 900, 1200]}
              aspectRatio="5:3"
              loading="eager"
              background="#f2f2f200"
              fit="cover"
              position="center"
              class="w-full"
            />
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.ball-carousel', {
  cellAlign: 'left',
  contain: true,
  imagesLoaded: true,  
  adaptiveHeight: true,
  selectedAttraction: 0.01,
  freeScrollFriction: 0.05,
  prevNextButtons: false,
  pageDots: false
  // lower attraction and lower friction
  // slower transitions
  // easier to flick past cells
  });
</script>

