---
// @ts-ignore
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import CompleteBrandPack from '../assets/previous-works/website-mock-ups.webp';
import ConversionOptimisation from '../assets/previous-works/website-conversion-optimisation.webp';
import Renders from '../assets/previous-works/3d-render.webp';
import AppDesign from '../assets/previous-works/iphone-app-design.webp';
import StoreFrontDesign from '../assets/previous-works/store-front-ad-design.webp';
import WebMockup from '../assets/previous-works/website-mock-ups.webp';
import ProductDesign from '../assets/previous-works/branded-product-design.webp';
import PatternDesign from '../assets/previous-works/pattern-design.webp';


const services = [
  {
    title: "Storefront Ad Design.",
    description:
      "If your business can promote itself well in a slightly longer format of video, or look to have a multistep video marketing strategy, there is no comparison.",
    imgsrc: StoreFrontDesign,
    imgalt: "Advertising with Billboards, managed locally to know your best oppurtunities.",
    link: "/brand-strategy",
    style: "outline",
    btntxt: "Brand Strategy",
    price: "945",
    saleprice: "745",
    paytype: "once-off",
    buylink: "",
  },
  {
    title: "Complete Brand & Ad Pack.",
    description:
      "Our team will develop a marketing strategy plan, prove it's strength, then film and produce a round of ads for covering all major platforms. Minimum 12 design releases including 3 videos and 9 social / GDN designs.",
    imgsrc: CompleteBrandPack,
    imgalt: "Advertising with Google Display ads. Managed on the Gold Coast.",
    link: "/brand-strategy",
    style: "outline",
    btntxt: "Brand Strategy",
    price: "4445",
    saleprice: "3445",
    paytype: "once-off",
    buylink: "https://buy.stripe.com/aEU6pX6r91WZ5328wB",
  },
  {
    title: "Product Design.",
    description:
      "Until Google goes away, SEO will always be valuable to your business. Free lead generation can be created easily in small niches. Hugely effective to outgrow compeition.",
    imgsrc: ProductDesign,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
    link: "/brand-strategy",
    style: "outline",
    btntxt: "Brand Strategy",
    price: "1445",
    saleprice: "1745",
    paytype: "once-off",
    buylink: "",
  },
  {
    title: "2x Mockup Revisions included.",
    description:
      "We can create a multistep video marketing strategy, completely cover the video filming and produ tion, and have 3 deliverables back to you within a week.",
    imgsrc: WebMockup,
    imgalt: "Advertising with Youtube. Managed on the Gold Coast.",
    link: "/web-design",
    style: "outline",
    btntxt: "Web Design",
    price: "945",
    saleprice: "745",
    paytype: "once-off",
    buylink: "",
  },
  {
    title: "High-Conversion Website Design.",
    imgsrc: ConversionOptimisation,
    imgalt: "Advertising with Google Search. Managed on the Gold Coast.",
    link: "/web-design",
    style: "outline",
    btntxt: "Web Design",
    price: "1745",
    saleprice: "1445",
    paytype: "month-to-month",
    buylink: "https://buy.stripe.com/9AQ8y59Dlbxz6766op",
  },
  {
    title: "3D Design and Renders.",
    imgsrc: Renders,
    imgalt: "Advertising with Facebook and Instagram (Meta Network). Managed on the Gold Coast.",
    link: "/web-design",
    style: "outline",
    btntxt: "Brand Strategy",
    price: "4445",
    saleprice: "3445",
    paytype: "month-to-month",
    buylink: "https://buy.stripe.com/bIY9C97vd313dzydQS",
  },
  {
    title: "App-based Websites (PWA / SPA).",
    description:
      "Google Display Network (GDN) is a great way to reach huge amounts of highly targeted people through visual soft-intent advertising, and one of our favourites.",
    imgsrc: AppDesign,
    imgalt: "Advertising with Google Display ads. Managed on the Gold Coast.",
    link: "/web-design",
    style: "outline",
    btntxt: "Web Design",
    price: "945",
    saleprice: "745",
    paytype: "month-to-month",
    buylink: "",
  },
  {
    title: "Web3 Experience Development.",
    description:
      "Improving conversion has been proven by maths to improve conversion rates across the board. One of the easiest ways to improve revenue quickly.",
    imgsrc: PatternDesign,
    imgalt: "Improving conversion across the board through web performance improvements.",
    link: "/web-design",
    style: "outline",
    btntxt: "Web Design",
    price: "945",
    saleprice: "745",
    paytype: "month-to-month",
    buylink: "https://buy.stripe.com/7sI6pXdTBdFHgLKdR0",
  },
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>
html, body, main {
    max-width: 100%;
}

  .carousel-cell {
  width: 80vw;
  max-width: 650px;
  min-height: 220px;
  margin: 40px 20px;
  padding: 20px 40px;
}

  /* Start Flickity viewport safeguards */
  main {
    max-width: 100%;
  }
  .flickity-viewport { min-height: fit-content ; }
  .gallery-carousel, .flickity-viewport { max-width: 100vw !important; margin: 0 auto; }
  /* End Flickity viewport safeguards */


</style>
<main class="my-8 md:my-16">
<div class="mb-8">
  <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Some of our recent works.
  </h2>
</div>

<div id="sliderContainer" class="gallery-carousel w-full mb-16">
  {
    services.map((item) => (
      <div id="productCard" class="carousel-cell h-96 bg-white rounded-xl shadow-md hover:shadow-lg duration-200">
          <div id="imgContainer" class="w-full h-full">
            <Picture
                  src={item.imgsrc}
                  sizes="(max-width: 1600px) 800px, 400px"
                  widths={[400, 800]}
                  aspectRatio="5:3"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-full h-32 rounded"
                />
          </div>
          <div class="absolute bottom-0 w-full bg-black bg-opacity-90 sm:bg-opacity-60 hover:bg-opacity-90 duration-200 rounded px-4 py-8">
            <h3 class="font-normal text-xl my-4 text-white">{item.title}</h3>{" "}

            <div class="flex items-center">
              <p class="text-slate-300 my-4 mr-2 leading-relaxed">
              Platform:
                <Link 
                  class="mr-4"
                  href={item.link || "#"}
                  block
                  style={item.style ? "primary" : "outline"}>
                  {item.btntxt || "Get Started"}
                </Link>
              </p>
              <div class="ml-auto">
                <a href={item.buylink}> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-bag-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.gallery-carousel', {
  cellAlign: 'left',
  contain: true,  
  freeScroll: true,
  imagesLoaded: true,
  adaptiveHeight: true,
  });
</script>