---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import VelocityLogo from '../assets/aidxn/velocity-social-landscape.png';
import CPCmarketing from '../assets/marketing-results/cpc-marketing-results-real-estate-high-competitive-term.png';
import MetaAds from '../assets/marketing-results/br-facebook-carousel-ad.png';
import AnimatedAds from '../assets/marketing-results/aidxn-mobile-google-display-ads-hero-hd.webp';
import DisplayMarketing from '../assets/marketing-results/re-placement.webp';
import PrintAds from '../assets/marketing-results/print-advertising-managed-on-the-goldcoast.webp';
import BusAds from '../assets/marketing-results/bus-side-sml.webp';
import WebPerformance from '../assets/marketing-results/br-mac-render-med.webp';
import SEOmarketing from '../assets/marketing-results/Ball-Realty-Traffic-Improvement-through-SEO-by-aidxn-design.webp';


const services = [
  {
    title: "10 Reasons to Leave Web2 for your Business Website Stack",
    category: "Web Development",
    description:
      "Before anything online, you need a website that seriously succeeds. Not just half works. We're talking ready for scaling infinitely once we get to the grit.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/10-reasons-to-leave-web2-for-businesses-in-australia/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How Velocity7 is Conversion Focused and helps keep your Web Performance Optimised",
    category: "Web Development",
    description:
      "Before anything online, you need a website that seriously succeeds. Not just half works. We're talking ready for scaling infinitely once we get to the grit.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How we improved a 20 year old businesses' Wordpress Website from 4.2 seconds page load to 1.9 seconds in 1 week.",
    category: "Web Development",
    description:
      "Learn some great free tips, on us, if you run a Wordpress site that you're trying to optimise. This is the WP optimisation cheat sheet you've been looking for.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Strategies for organic marketing in 2023. Reduce your marketing costs without losing the results.",
    category: "Marketing",
    description:
      "Learn some great free tips, on us, if you run a Wordpress site that you're trying to optimise. This is the WP optimisation cheat sheet you've been looking for.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How we improved a 20 year old businesses' Wordpress Website from 4.2 seconds page load to 1.9 seconds in 1 week.",
    category: "Web Development",
    description:
      "Learn some great free tips, on us, if you run a Wordpress site that you're trying to optimise. This is the WP optimisation cheat sheet you've been looking for.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How we improved a 20 year old businesses' Wordpress Website from 4.2 seconds page load to 1.9 seconds in 1 week.",
    category: "Web Development",
    description:
      "Learn some great free tips, on us, if you run a Wordpress site that you're trying to optimise. This is the WP optimisation cheat sheet you've been looking for.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How we improved a 20 year old businesses' Wordpress Website from 4.2 seconds page load to 1.9 seconds in 1 week.",
    category: "Web Development",
    description:
      "Learn some great free tips, on us, if you run a Wordpress site that you're trying to optimise. This is the WP optimisation cheat sheet you've been looking for.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
];
---

<!-- Flickity -->
<link rel="stylesheet" href="/path/to/flickity.css" media="screen">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  .carousel-cell {
  min-width: 300px;
  width: 33vw;
  max-width: 550px;
  min-height: 220px;
  margin-right: 10px;
  margin-bottom: 45px;
  padding: 20px, 40px;
}
  .flickity-viewport { min-height: fit-content; }

</style>

<div class="mt-16 pt-16 mb-8">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our recent talks and keynotes.
  </h2>
  <p class="text-lg max-w-4xl mt-4 text-slate-600">
    We dive deep to learn exactly where your business model succeeds most with your target market to drilldown and iterate improvements towards this goal from all directions.
  </p>
</div>

<div id="sliderContainer" class="blog-carousel h-fit mb-16">
  {
    services.map((item) => (
      <div id="productCard" class="carousel-cell flex flex-col lg:flex-row bg-gray-50 py-8 px-4 h-fit bg-white rounded-xl shadow-sm hover:shadow-md duration-200">
        <a href="#">
          <div id="imgContainer" class="w-full lg:w-2/3 mt-2 p-2">
            <Picture
                  src={item.imgsrc}
                  sizes="(max-width: 900px) 100vw, 450px"
                  widths={[200, 400]}
                  aspectRatio="2:3"
                  background="#f2f2f2"
                  fit="cover"
                  position="center"
                  class="w-3/4 h-52 rounded mb-2"
                />
          </div>
          <div id="textContainer" class="w-full lg:w-2/3 px-4 py-3">
            <span class="text-gray-400 mr-3 uppercase text-xs">{item.category}</span>
            <h3 class="font-semibold text-xl">{item.title}</h3>{" "}
            <p class="text-sm text-slate-500 mt-2 mb-6 leading-relaxed h-36">{item.description}</p>

            <p class="text-slate-500 mt-2 mb-6 mr-2 leading-relaxed">
              <Link 
                class="mr-4"
                href={item.link || "#"}
                block
                style={item.style ? "primary" : "outline"}>
                {item.btntxt || "Get Started"}
              </Link>
            </p>

          </div>
        </a>
      </div>
    ))
  }
</div>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.blog-carousel', {
  cellAlign: 'left',
  contain: true,
  autoPlay: 2500,
  });
</script>