---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import VelocityLogo from '../assets/aidxn/velocity-social-landscape.png';



const services = [
  {
    title: "Velocity Update Developer Notes: Version 7.4",
    icon: "ph:codesandbox-logo-thin",
    category: "Development Notes",
    description:
      "In the most recent Velocity update, we've added product cards for e-commerce components and product cards. Plenty of detailed tablet + mobile bug fixes as always",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/dev-notes-v-7-4/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "10 Reasons to Leave Web2 Stacks like Wordpress.",
    category: "Web Development",
    icon: "ph:codepen-logo-light",
    description:
      "Your website stack is will become the bottleneck to your business quickly, here's some reasons we believe Wordpress simply doesn't cut it to sell online.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/10-reasons-to-leave-web2-for-businesses-in-australia/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Conversion-Focused Design for your Niche.",
    category: "Brand Strategy",
    icon: "ph:intersect-light",
    description:
      "Before anything online, you need a website that seriously succeeds. Not just half works. We're talking ready for scaling infinitely once we get to the grit.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/conversion-focused-design/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Optimising Pageload using Velocity7.",
    category: "Web Development",
    icon: "ph:codepen-logo-light",
    description:
      "Before anything online, you need a website that seriously succeeds. Not just half works. We're talking ready for scaling infinitely once we get to the grit.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Pageload optimisation from 4.2 sec to 1.9 sec.",
    category: "Web Development",
    icon: "ph:codepen-logo-light",
    description:
      "Learn some great free tips, on us, if you run a Wordpress site that you're trying to optimise. This is the WP optimisation cheat sheet you've been looking for.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/website-pageload-optimisation/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How to create an SEO-Friendly, organic strategy.",
    category: "Marketing",
    icon: "ph:codesandbox-logo-thin",
    description:
      "How we create marketing strategies that avoid giant advertising costs through virally placing in feeds, completely organically just like global brands.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Velocity7 pageload performance benchmarks.",
    category: "Web Development",
    icon: "ph:codepen-logo-light",
    description:
      "From e-commerce to service based business lead generation, Shopify has taken the popular opinion of the global web design space, but are they the best or even close?",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/velocity-performance-benchmarks/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Velocity Update Developer Notes: v7.3",
    category: "Development Notes",
    icon: "ph:codesandbox-logo-thin",
    description:
      "In the most recent Velocity update, we've added over 20 conversion-focused design components, a feather-weight slider, galleries + grids. All with 0 dependencies.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/dev-notes-v-7-3/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "How to reduce cost-per-aquisition in high-cost niches.",
    category: "Brand Strategy",
    icon: "ph:intersect-light",
    description:
      "Many digital marketing agencies will boast their numbers without anything to prove on cost-per-aquisition. It takes a few minutes to find but should be every brand's main KPI.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/improve-website-speed-with-velocity/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "E-Commerce design that tricks that improve conversion rate.",
    category: "Web Development",
    icon: "ph:codepen-logo-light",
    description:
      "From e-commerce to service based business lead generation, Shopify has taken the popular opinion of the global web design space, but are they the best or even close?",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/ecommerce-design-tricks/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Velocity Update Developer Notes: v7.2",
    category: "Development Notes",
    icon: "ph:codesandbox-logo-thin",
    description:
      "What's new in the most recent Velocity update, now available to all Velocity7 customers.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/dev-notes-v-7-2/",
    style: "outline",
    btntxt: "Read more",
  },
  {
    title: "Generating $50k+ in sales with $0 in ad spend.",
    category: "Brand Strategy",
    icon: "ph:intersect-light",
    description:
      "For a brand in the events industry we were able to avoid large profit cuts and need for ad spend using viral marketing campaign tactics.",
    imgsrc: VelocityLogo,
    imgalt: "How Velocity7 is one of the easiest website themes to use for your business. Upgrade from wordpress or shopify today.",
    link: "https://aidxn.com/blog/viral-marketing-strategies/",
    style: "outline",
    btntxt: "Read more",
  },
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

  /* Start Flickity viewport safeguards V3 */
  main { max-width: 100%; }
  .flickity-viewport { min-height: fit-content ; }
  .blog-carousel, .flickity-viewport { max-width: 100vw !important; margin: 0 auto; }
  /* End Flickity viewport safeguards V3 */

</style>
<main>
<div class="">
  <h5 class="text-xs md:text-sm lg:text-md my-4 text-slate-700">
    Design + marketing strategies
  </h5>
  <h3 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
    Recent web design posts + talks.
  </h3>
  <p class="text-sm lg:text-lg max-w-4xl mt-4 text-slate-600">
    Dive deeper into the most cutting-edge internet and website technologies and how we are utilising them now in beta tests to better understand how these strategies can apply to your business.
  </p>
</div>

<div id="sliderContainer" class="blog-carousel grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-8 py-8">
  {
    services.map((item) => (
      <div id="glass-card" class="carousel-cell w-fit h-fit">
        <div id="imgContainer" class="lg:w-1/3 px-2">
          <Icon class="h-8 md:h-12" name={item.icon} />
        </div>  
        <div id="textContainer" class="w-full px-2 my-4">
            <span class="text-slate-700 text-xs md:text-sm lg:text-md">{item.category}</span>
            <h4 class="font-semibold text-xl md:text-2xl lg:text-3xl pr-4 my-2">{item.title}</h4>{" "}
            <p class="text-sm text-gray-700 mb-8 leading-relaxed">{item.description}</p>

            <p class="text-slate-500 mt-2 mr-2 leading-relaxed">
              <Link 
                class="mr-4"
                href={item.link || "#"}
                block
                style={item.style ? "primary" : "outline"}>
                {item.btntxt || "Get Started"}
              </Link>
            </p>
          </div>
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.blog-carousel', {
  cellAlign: 'center',
  contain: true,
  freeScroll: true,
  // lower attraction and lower friction
  // slower transitions
  // easier to flick past cells
  });
</script>