---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import Lrg from '../assets/previous-works/raywhite/1.webp';
import Dual from '../assets/previous-works/raywhite/2.webp';
import Wide from '../assets/previous-works/raywhite/3.webp';


const services = [
  {
    imgsrc: Lrg,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
  {
    imgsrc: Dual,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
  {
    imgsrc: Wide,
    imgalt: "Advertising with Google for free through organic SEO improvements.",
  },
];
---

<!-- Flickity -->
<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- Flickity Custom Styles -->
<style>

.carousel-cell {
    margin-right: 10px;
    margin-bottom: 20px;
    height: 420px;
    border-radius: 15px;
  }
  @media only screen and (max-width: 1680px) {
  .carousel-cell {
    height: 360px;
  }
}
@media only screen and (max-width: 1199px) {
  .carousel-cell {
    height: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-cell {
    height: 240px;
  }
}
@media only screen and (max-width: 496px) {
  .carousel-cell {
    height: 180px;
  }
}
@media only screen and (max-width: 396px) {
  .carousel-cell {
    height: 140px;
  }
}
  /* Start Flickity viewport safeguards V4 */
  main { max-width: 100%; }
  .flickity-viewport { margin: 0 auto; }
  .raywhite-carousel, .flickity-viewport { max-width: 100vw !important; }
  .raywhite-carousel { height: fit-content; }
  /* End Flickity viewport safeguards V4 */

  /* Glass-card effect dial in, minimal */
  #glass-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
  }
  #glass-card:hover {
    box-shadow: 0 15px 20px #00000010, 0 15px 20px #00000010;
  }

  #works-row { border: black; border-top: ridge; }

  </style>

<main id="works-row" class="mt-8 md:mt-16">
  <div class="pt-4 flex items-center justify-between">
    <div>
      <h3 class="text-2xl md:text-3xl lg:text-5xl font-bold lg:tracking-tight">
        Ray White.
      </h3>
      <p class="text-sm lg:text-lg font-thin max-w-6xl mt-2 text-slate-600">
        Interactive Ad Design.
      </p>
    </div>
    <div>
      <a class="text-sm" href="/marketing">read more</a>
    </div>
  </div>

<div id="sliderContainer" class="raywhite-carousel">
  {
    services.map((item) => (
      <div class="carousel-cell flex flex-row justify-start items-center w-2/3 sm:w-1/2 md:w-2/5 xl:w-1/3">
        <Picture
              id="glass-card"
              src={item.imgsrc}
              sizes="(max-width: 1680px) 1680px, 1260px, 840px"
              widths={[840, 1260, 1680]}
              aspectRatio="5:3"
              loading="eager"
              background="#f2f2f200"
              fit="cover"
              position="center"
              class="w-full h-full"
            />
      </div>
    ))
  }
</div>
</main>

<script>
  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.raywhite-carousel', {
  cellAlign: 'left',
  contain: true,
  freeScroll: true,
  prevNextButtons: false,
  pageDots: false
  // lower attraction and lower friction
  // slower transitions
  // easier to flick past cells
  });
</script>

