---
// @ts-ignore
import tbcLogo from 'assets/tbc-grey.svg';
import cobraLogo from 'assets/cobra-car-club-greyed.svg';
import brieLogo from 'assets/brie-logo-greyed.svg';
import ballLogo from 'assets/ball-realty-greyed.svg';
---
  
<div class="mt-16">
  <div>

    <h2 class="text-black text-4xl lg:text-5xl font-bold tracking-tight">
      Case Studies
    </h2>
    <p class="text-slate-700 mt-4 max-w-3xl text-lg md:text-xl">
      See how Aidxn Design keeps leading brands at the forefront of their industry. Stop chasing design churn with a clean website that lasts.
    </p>

  </div>
  <div class="p-8 mx-auto rounded-lg grid grid-cols-1 lg:grid-cols-2 gap-4 items-start text-left">
      <div class="flex flex-col w-full px-8 py-16 rounded bg-black gap-4 items-start mt-10">
        <img src={ballLogo} class="h-16 md:h-20 py-4" />

        <h3 id="client" class="text-white uppercase text-xl md:text-lg tracking-loose">
          Ball Realty
        </h3>

        <h4 id="clientImprovement" class="text-white font-bold text-2xl md:text-3xl tracking-loose">
          32x reduction in CPM in the Real Estate Industry.
        </h4>
        
        <p id="clientQuote" class="text-slate-300 mt-4 max-w-3xl text-md md:text-lg">
          "We are so grateful to Aidxn Design to be our web designers and marketing managers during the peak of Covid, keeping costs down while reaching more people than we ever had, by a long shot."
        </p>
      </div>

      <div class="flex rounded w-full px-8 py-16 bg-black flex-col gap-4 items-start mt-10">
        <img src={cobraLogo} class="h-16 md:h-20 py-4" />

        <h3 id="client" class="text-white uppercase text-xl md:text-lg tracking-loose">
          Cobra Car Club of QLD
        </h3>

        <h4 id="clientImprovement" class="text-white font-bold text-2xl md:text-3xl tracking-loose">
          176% reduction in Meta Ad Costs after Brand Design update.
        </h4>
        
        <p id="clientQuote" class="text-slate-300 mt-4 max-w-3xl text-md md:text-lg">
          "Helping us reach our customer base in the right way online was not easy. They created a brand and UX framework that works."
        </p>
      </div>

      <div class="flex flex-col w-full px-8 py-16 rounded bg-black gap-4 items-start mt-10">
        <img src={tbcLogo} class="h-28 md:h-44 py-4" />
        
        <h3 id="client" class="text-white uppercase text-xl md:text-lg tracking-loose">
          The Boogie Collective
        </h3>

        <h4 id="clientImprovement" class="text-white font-bold text-2xl md:text-3xl tracking-loose">
          $50k+ in sales in one month, with $0 ad spend.
        </h4>

        <p id="clientQuote" class="text-slate-300 mt-4 max-w-3xl text-md md:text-lg">
          "Moving from Wordpress to Velocity7 was the best thing we have done for our business in years, highly recommend."
        </p>
      </div>
      
      <div class="flex flex-col w-full px-8 py-16 rounded bg-black gap-4 items-start mt-10">
        <img src={brieLogo} class="h-20 md:h-32 py-4" />

        <h3 id="client" class="text-white uppercase text-xl md:text-lg tracking-loose">
          Brie Hair
        </h3>

        <h4 id="clientImprovement" class="text-white font-bold text-2xl md:text-3xl tracking-loose">
          471% improvement in Conversion rate with Velocity7.
        </h4>
        
        <p id="clientQuote" class="text-slate-300 mt-4 max-w-3xl text-md md:text-lg">
          "Our business has been completely revolutionised by Velocity, saving us the high cost of subscriptions we are glad to own our code."
        </p>
      </div>
    
  </div>
</div>