---
// @ts-ignore
import tbcLogo from 'assets/tbc-grey.svg';
import cobraLogo from 'assets/cobra-car-club-greyed.svg';
import brieLogo from 'assets/brie-logo-greyed.svg';
import snacksLogo from 'assets/snacks-photography-logo-greyed.svg';
---
<style>
  :doodle {
  grid-gap: 2px;
  width: 75vh;
  height: 75vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  }
  background: #1d1e22;
  border-radius:100%;
  --scaledelay: calc((
  (@abs(@abs(@row - @size-row/2) + @abs(@col - @size-col/2) - @size-col) / @size-col) - 1) * -1.5s) ;
  animation-name: scale;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: var(--scaledelay);
  transform: scale(0.2);
  @keyframes scale {
  0%{
  transform: scale(0.2);
  }
  50%{
  transform: scale(1);
  }
  100%{
  transform: scale(0.2);
  }
  }
</style>
  
  
<div class="mt-24">
  <div class="bg-white p-8 md:px-20 md:py-20 mt-20 mx-auto rounded-lg flex flex-col items-start text-left">
    <h2 class="text-black text-xl md:text-3xl tracking-tight">
      Case Studies
    </h2>
    <p class="text-slate-700 mt-4 text-lg md:text-xl">
      Keeping industry leading brands at the forefront of Marketing.
    </p>
    <div class="flex flex-col rounded bg-black gap-4 items-start mt-10">
      <img src={tbcLogo} class="h-24 md:h-36 px-8 py-4" />
      
      <h4 id="client" class="text-black text-3xl font-bold md:text-3xl tracking-loose">
        The Boogie Collective
      </h4>

      <h3 id="clientImprovement" class="text-black uppercase text-lg md:text-xl tracking-loose">
        311% conversion improvement with E-Commerce Update.
      </h3>

      <p id="clientQuote" class="text-slate-700 mt-4 text-lg md:text-xl">
        "Moving from Wordpress to Velocity7 was the best thing we have done for our business in years, highly recommend."
      </p>
    </div>
    <div class="flex rounded bg-black flex-col gap-4 items-start mt-10">
      <img src={cobraLogo} class="h-24 m px-8 py-4" />

      <h4 id="client" class="text-black text-3xl font-bold md:text-3xl tracking-loose">
        Cobra Car Club of QLD
      </h4>
      
      <h3 id="clientImprovement" class="text-black uppercase text-lg md:text-xl tracking-loose">
        176% reduction in Meta Ad Costs after Brand Design update.
      </h3>
      
      <p id="clientQuote" class="text-slate-700 mt-4 text-lg md:text-xl">
        "Helping us reach our customer base in the right way online was not easy. They created a brand and UX framework that works."
      </p>
    </div>
    <div class="flex flex-col rounded bg-black gap-4 items-start mt-10">
      <img src={brieLogo} class="h-24 md:h-36 px-8 py-4" />

      <h4 id="client" class="text-black text-3xl font-bold md:text-3xl tracking-loose">
        Brie Hair
      </h4>
      
      <h3 id="clientImprovement" class="text-black uppercase text-lg md:text-xl tracking-loose">
        722% improvement in Conversion rate with Velocity7.
      </h3>
      
      <p id="clientQuote" class="text-slate-700 mt-4 text-lg md:text-xl">
        "Our business has been completely revolutionised by Velocity, saving us the high cost of subscriptions we are glad to own our code."
      </p>
    </div>
    <div class="flex flex-col rounded bg-black gap-4 items-start mt-10">
      <img src={snacksLogo} class="h-24 md:h-36 px-8 py-4" />

      <h4 id="client" class="text-black text-3xl font-bold md:text-3xl tracking-loose">
        Snacks for your Eyes
      </h4>
      
      <h3 id="clientImprovement" class="text-black uppercase text-lg md:text-xl tracking-loose">
        Custom User Experience and High Quality Image Display.
      </h3>
      
      <p id="clientQuote" class="text-slate-700 mt-4 text-lg md:text-xl">
        "We are so grateful to position ourselves quickly online to users as a high quality photography brand through shear quality user experince."
      </p>
    </div>
  </div>
</div>
  
<div>

  
</div>
  
<div>
  
  
  
</div>
