---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Detailedfooter from "@components/detailed-footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Velocity"
  : "Aidxn Code & Design - Build your Website with Velocity7";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Velocity is a super-fast Web3 theme to kick-start your next business."
      canonical={canonicalURL}
      twitter={{
        creator: "@aidenwood",
        site: "@aidxn.com",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Aidxn Code & Design - Build your Website with Velocity7`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Build your website with Velocity7",
        },
      }}
    />
    
  <!-- aidxn.com property linked to search console for better SEO - Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MN4T5PXYLD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MN4T5PXYLD');
    </script>
    
  </head>
  
  <body>
    <Navbar />
    <slot />
    <Detailedfooter />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
